@*@model PagedList.IPagedList<urban_archive.Models.vw_charge>

@using PagedList.Mvc;*@
@{
  var  list=ViewBag.feiyong;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />
@*<link href="~/Content/AdminLTE-2.3.7/dist/css/AdminLTE.min.css" rel="stylesheet" />*@

<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>
<script src="~/Scripts/xlsx.full.min.js"></script>
<script type="text/javascript">
    var n = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-search-plus' style='color:#428bca;;vertical-align:middle; padding:2px 0;'></i>"
    };
    var o = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-edit' style='color:#428bca;;vertical-align:middle; padding:2px 0;'></i>"
        };


    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            var a = $(window).height();
            var hh = a-180;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        });
       
            $("#example-table-2").tabulator({
                height: "100%",
                virtualDom:false,
                //colMinWidth:100, 
                //fitColumns:true,
                selectable:true,
                pagination:"local",
                paginationSize:50,
                rowFormatter:function(row){
                    //row - row component

                    var data = row.getData();
                    
                    if(data.i==false||data.i==null){ 
                        row.getElement().css
                            ({"background-color":"#FFCCCC",  "border-bottom": "1px solid #999"
                        });
                        
                    }
                },
                
                
                columns: [
                //{
                //    title: "费用查看", field: "n", width: 100 ,formatter: n,  headerSort: false,align: "center",cellClick: function (e,cell) {
                //        var url = '/UrbanBorrow/Details/'+ cell.getValue()+'?id1=2';                       
                //        window.location.href = url;

                //    }
                //},
                //{
                //    title: "费用修改", field: "o", width:100 ,formatter: o,  headerSort: false, align: "center", cellClick: function (e,cell) {
                //        var url = '/UrbanBorrow/FeeJieSuan/'+ cell.getValue()+'?id1=2';                        
                //        window.location.href = url;

                //    }
                //},

                { title: "科室", field: "a", headerSort: false,width: 100 },
                { title: "编号", field: "b", headerSort: false,width: 120 },
                { title: "收费事项", field:"c",headerSort: false, width: 200 },
                { title: "缴费单位/缴费人", field:"d",headerSort: false, width: 200 },
                { title: "调阅费（元）", field:"e",headerSort: false, width: 200 },
                { title: "咨询费（元）", field:"f",headerSort: false, width: 200 },
                { title: "证明费（元）", field:"g",headerSort: false, width: 200 },
                { title: "合计（元）", field:"h", headerSort: false,width: 200 },
                { title: "缴费", field:"i", headerSort: false,width: 100,formatter:"tickCross",align:"center" },
                { title: "收费日期", field:"j", headerSort: false,width: 100 },
                { title: "是否驳回", field:"k", headerSort: false,width: 100 ,formatter:"tickCross",align:"center"},
                { title: "驳回原因", field:"l", headerSort: false,width: 200 },
                { title: "备注", field:"m",headerSort: false, width: 500 },

                ],
            });

            //trigger download of data.csv file
            $("#download-xlsx").click(function(){
                $("#example-table-2").tabulator("download", "xlsx", "data.xlsx");
            });

            var temp = new Array();
            //var data=Html.Raw(Json.Encode(ViewBag.feiyong));
            var data=@(new HtmlString(@ViewBag.feiyong));
            for (var i = 0; i <data.length;i++)
            {
                

                var z = data[i].chargeTime;
                var deta=data[i].chargeDetail;
                //var char=data[i].isCharge;
                //var back=data[i].isBack;
                var zhengming=0,chajuan=0,totalfee=0;
                var zhengmingfee=0,chajuanfee=0;
                //if(char==true)
                //{
                //    char="已收费";
                //}
                //else
                //{
                //    char="未收费";
                //}
                //if(back==true)
                //{
                //    back="是";
                //}
                //else
                //{
                //    back="否";
                //}

                if(deta.length>=2)
                {
                    var detail=deta.split('，')
                    
                    zhengming=detail[0].split('：'); 
                    
                    zhengmingfee=zhengming[1];
                    
                    chajuan=detail[1].split('：');    
                    chajuanfee=chajuan[1];
               
                    totalfee=zhengmingfee*1+chajuanfee*1;
                
                }
              
                
                if(z!=null){
                    var result1 = z.slice(0,10);
                }
                temp.push({"id":i+1,"a":data[i].text,"b":data[i].seqNo,"c": data[i].itemName,"d": data[i].unitName,"e":chajuanfee,"f":0,"g":zhengmingfee,"h":totalfee,"i":data[i].isCharge,"j":result1,"k":data[i].isBack,"l":data[i].backNote,"m":data[i].remarks,"n":data[i].searchNo,"o":data[i].searchNo,"p":data[i].searchNo});
               
            }
          
            $("#example-table-2").tabulator("setData", temp);
            $(window).resize(function () {
                var a = $(window).height();
                var hh = a-180;
                $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
                $("#example-table-2").tabulator("redraw",true);

            });

        });
</script>

@*<h2 style="text-align:center;margin-top:0;">—借阅收费列表—</h2>*@
<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>借阅收费列表</h2>
    <ol class="breadcrumb">
        <li class="active">档案借阅 </li>
        <li>借阅用户</li>
    </ol>
    <div style="clear:both;"></div>
</section>



@using (Html.BeginForm())
{
    <p style="float:left;">
        检索条件: @Html.DropDownList("SelectedID",null, new { @class = "form-control", @style = "display:inline;width:150px;" })=@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "display:inline;width:280px;" })
        <input type="submit" name="action" value="查找" class="btn btn-default" style="display:inline;"/>
        
    </p>
}
<p style="float:left;margin-left:5px;">
    <span class="btn btn-default">
        <i class='fa fa-download' style='color:inherit; padding:2px 5px 2px 0px;'></i><input type="submit" id="download-xlsx" name="action" value="下载收费详细报表" style="border-style:none;background:none;padding:0px 0px;">
    </span>
</p>
<div style="clear:both"></div>
<div id="example-table-2" class="box-h"> </div>
<p style="color:blue;">【状态】：1-已经登记/查看中.. ； 2-需要费用结算； 3-费用已结算； 4-结算驳回。</p>

@*<table class="table table-bordered table-striped">
    <tr>

        <th>
            科室
        </th>
        <th>
            编号
        </th>
        <th>
            收费事项
        </th>
        <th>
            缴费单位/缴费人
        </th>
        <th>
            调阅费（元）
        </th>
        <th>
            咨询费（元）
        </th>
        <th>
            证明费（元）
        </th>
        <th>
            合计（元）
        </th>

        <th>
            缴费

        </th>

        <th>
            收费日期
        </th>
        <th>
            是否驳回
        </th>
        <th>
            驳回原因
        </th>
        <th>
            备注
        </th>

        <th>
            查看
        </th>
        <th>
            修改
        </th>
        @*<th>
                费用结算
            </th>*@
    @*</tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:30%;">
                @Html.DisplayFor(modelItem => item.fromDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seqNo)            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fee
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.archiveSerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.singleOrDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.certificationFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consultFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paoKufangRen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.realFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isJiesuanFee)
            </td>
            <td>
                管理科

            </td>

            <td>
                @Html.ActionLink("查看", "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("费用结算", "FeeJieSuan", new { id = item.ID })
            </td>

        </tr>
    }*@
@*</table>*@
@*@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("BorrowFeeDetail",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@






