@model urban_archive.Models.Charger

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>vw_charge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fromDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargeClassify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargeClassify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargeExtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargeExtra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.searchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.searchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buildingArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildingArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargeDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargeDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.@operator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.@operator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seqNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seqNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theoryExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theoryExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whereTransfer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.whereTransfer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.centiCnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.centiCnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.backNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.backNote)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
