@model urban_archive.Models.LicenceFiles

@{
    ViewBag.Title = "卷内目录修改";
}

<h2><i class="fa fa-tags kongge"></i>执照档案卷内目录修改</h2>
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
<style type="text/css">
    .jubu {
        max-width:100%;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
@*<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-zh-CN.js"></script>*@
<script>
            $(function () {
                $("#bianzhiDate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
        function Onfocus1()//单击显示数据列表1
        {
            var ss;
            $.ajax({
                url: '../../LicenceFiles/title',
                data:{},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    $("#select1").empty();
                    var objSelectNow = document.getElementById("select1");
                    for (var j = 0; j < data.length; j++) {
                        var objOption = document.createElement("OPTION");
                        objOption.text = data[j].name;
                        objOption.value = data[j].ID
                        objSelectNow.options.add(objOption);
                    }
                    $("#tanchu1").removeClass("yincang");
                    $("#tanchu1").addClass("chuxian");
                }
            })
        }
        function Onfocus2()//单击显示数据列表2
        {
            var ss;
            $.ajax({
                url: '../../LicenceFiles/Responser',
                data: {},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var objSelectNow = document.getElementById("select2");
                    $("#select2").empty();
                    for (var j = 0; j < data.length; j++) {
                        var objOption = document.createElement("OPTION");
                        objOption.text = data[j].name;
                        objOption.value = data[j].ID
                        objSelectNow.options.add(objOption);
                    }
                    $("#tanchu1").removeClass("yincang");
                    $("#tanchu1").addClass("chuxian");
                }
            })
        }
        function titletj()//弹出对话框1
        {

            var obj = new Object();
            obj.number = "3";
            obj.name = "文件材料题名";
            obj.id = document.all.select1.options[document.all.select1.selectedIndex].value;//获取选择id
            name = window.showModalDialog('./../window', obj, 'dialogWidth=600px;dialogHeight=300px');
            //弹出模型对话框，obj为传值参数,name为子页面返回参数
            document.getElementById("fileTitle").value = name;
        }
        function responsertj()//弹出对话框2
        {
            //var obj1 = document.all.select1.options[document.all.select1.selectedIndex];
            var obj = new Object();
            obj.number = "4";
            obj.name = "责任者";
            obj.id = document.all.select2.options[document.all.select2.selectedIndex].value;//获取选择id
            name = window.showModalDialog('./../window', obj, 'dialogWidth=600px;dialogHeight=300px');
            document.getElementById("resUnit").value = name;
        }
        function save() {
            var msg = "是否确认修改信息";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @*<div class="form-horizontal">*@
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.EditorFor(model => model.ID)*@
        @*@Html.Hidden("archiveID", (int)ViewBag.archiveID)*@
    <input type="text" id="archiveID"name="archiveID" value="@ViewBag.archiveID"style="display:none">
    <input type="text" id="ID" name="ID" value="@ViewBag.ID" style="display:none">
    <div class="panel panel-default">
        <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
            
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    卷内序号
                </td>
                <td colspan="3">
                    @Html.EditorFor(model => model.juanneiSeqNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.juanneiSeqNo, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    文件编号
                </td>
                <td colspan="3">
                    @Html.EditorFor(model => model.fileNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fileNo, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    文件材料题名
                </td>
                <td colspan="3">
                    <input type="text" id="fileTitle" name="fileTitle"class = "form-control" value="@ViewBag.fileTitle" onclick="Onfocus1()" style="max-width:100%;width:100%"/>
                    @*@Html.EditorFor(model => model.fileTitle, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.fileTitle, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    责任者
                </td>
                <td colspan="3">
                    <input type="text" id="resUnit" name="resUnit" value="@ViewBag.resUnit"class = "form-control" onclick="Onfocus2()"style="max-width:100%;width:100%"/>
                    @* @Html.EditorFor(model => model.resUnit, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.resUnit, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr id="tanchu1" style="text-align:center;">                
                <td colspan="4"class="form-inline">
                    <select ondblclick="titletj();"class = "form-control" id="select1" size="4" style="width: 100%; height: 147px;"></select>
                    <select ondblclick="responsertj();" class = "form-control"id="select2" size="4" style="width: 100%; height: 147px;"></select>
                    <script type="text/javascript">
                    document.getElementById("select1").onchange = function ()//列表传值到文本框
                    {
                        document.getElementById("fileTitle").value = this.options[this.options.selectedIndex].text;
                        document.getElementById("no").value = this.options[this.options.selectedIndex].value + "-" + 3
                    }
                    document.getElementById("select2").onchange = function ()
                    {
                        document.getElementById("resUnit").value = this.options[this.options.selectedIndex].text;
                        document.getElementById("no").value = this.options[this.options.selectedIndex].value + "-" + 4
                    }
                    </script>
                    <br />
                    <input type="submit" id="delete" value="删除词条" name="action" class="btn btn-default" style="height: 33px">&nbsp;
                    <input type="text" id="no" name="no"style="display:none">
                </td>
            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    起止页次
                </td>
                <td colspan="3">
                    @Html.EditorFor(model => model.pageNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pageNo, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    编制日期
                </td>
                <td colspan="3">
                    @Html.EditorFor(model => model.bianzhiDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bianzhiDate, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    是否为内部文件:
                </td>
                <td colspan="3">
                    @Html.DropDownList("isNeibu", null, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    备注
                </td>
                <td colspan="3">
                    @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "form-control jubu" } })
                    @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                </td>

            </tr>
        </table>
    </div>


        @*<div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.juanneiSeqNo, "卷内序号", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.juanneiSeqNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.juanneiSeqNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fileNo, "文件编号", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fileNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fileNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fileTitle, "文件材料题名", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="fileTitle" name="fileTitle"value="@ViewBag.fileTitle" onclick="Onfocus1()" />
                    @Html.ValidationMessageFor(model => model.fileTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.resUnit, "责任者", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="resUnit" name="resUnit" value="@ViewBag.resUnit"onclick="Onfocus2()"/>
                    @Html.ValidationMessageFor(model => model.resUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="tanchu1" class="yincang;">
                <select ondblclick="titletj();" id="select1" size="4" style="width: 100%; height: 147px;"></select>
                <select ondblclick="responsertj();" id="select2" size="4" style="width: 100%; height: 147px;"></select>
            </div>
            <script type="text/javascript">
                    document.getElementById("select1").onchange = function ()//列表传值到文本框
                    {
                        document.getElementById("fileTitle").value = this.options[this.options.selectedIndex].text;
                        document.getElementById("no").value = this.options[this.options.selectedIndex].value + "-" + 3
                    }
                    document.getElementById("select2").onchange = function ()
                    {
                        document.getElementById("resUnit").value = this.options[this.options.selectedIndex].text;
                        document.getElementById("no").value = this.options[this.options.selectedIndex].value + "-" + 4
                    }
            </script>
            <input type="submit" id="delete" value="删除词条" name="action" class="btn btn-default" style="height: 33px"><input type="text" id="no" name="no">
            <div class="form-group">
                @Html.LabelFor(model => model.pageNo, "起止页次", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pageNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pageNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.bianzhiDate, "编制日期", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bianzhiDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bianzhiDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.remarks, "备注", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                </div>
            </div>*@

            
            <div style="text-align:center;">
                <p>
                    <input type="submit" value="保存修改" name="action" class="btn btn-default" onclick="return save()" />
                    @Html.ActionLink("返回该卷目录", "Index", new { archiveID = Model.archiveID }, new { @class = "btn btn-default" })
                </p>
            </div>

}

@*<div>
    @Html.ActionLink("返回该卷目录", "Index", new { archiveID = Model.archiveID })
</div>*@
