@model urban_archive.Models.VideoContractInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VideoContractInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contractName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contractDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transferUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transferUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buildingArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildingArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.layerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.layerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planningStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planningStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planningEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planningEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scanningCopy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scanningCopy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isReceiveArchive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isReceiveArchive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drawing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drawing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partAaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partAaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partALegalRepresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partALegalRepresent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partAweituoAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partAweituoAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partAcontactTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partAcontactTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partBadress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partBadress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partBLegalRepresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partBLegalRepresent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partBweituoAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partBweituoAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partBcontactTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partBcontactTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.constructUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.constructUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.constructArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.constructArea)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
