
<div class="col-md-4">
    <h3>@Html.ActionLink("签订声像科移交责任书", "Create")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("声像科移交责任书管理", "Index")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("直接签订工作联系单", "Create", "VideoContractSheets")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("工作联系单管理", "Index", "VideoContractSheets")</h3>
</div>

<div class="col-md-4">
    <h3>@Html.ActionLink("工程审核", "Index", "VideoArchives")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("已审核", "Index_shenhe", "VideoArchives")</h3>
</div>


<div class="col-md-4">
    <h3>@Html.ActionLink("文件上传", "Index_shenhe", "VideoArchives")</h3>
</div>

<div class="col-md-4">
    <h3>@Html.ActionLink("文件查看", "Index_dairuku", "VideoArchives")</h3>
</div>

<div class="col-md-4">
 <h3>@Html.ActionLink("已驳回", "Index_bohui", "VideoArchives")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("暂入库", "Index_zanruku", "VideoArchives")</h3>
</div>




<div class="col-md-4">
    <h3>@Html.ActionLink("待入库", "Index_dairuku", "VideoArchives")</h3>
</div>

<div class="col-md-4">
    <h3>@Html.ActionLink("已入库", "Index_ruku", "VideoArchives")</h3>
</div>



