@model IEnumerable<urban_archive.Models.gxMaxArchiveRegisNo>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/tabulator.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/tabulator.js"></script>

<script type="text/javascript">
    var g= function (value, data, cell, row, options) {
        return "<i class='fa fa-edit' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
        };
    $().ready(function () {
        $(document).ready(function () {

            var a = $(window).height();
            var hh = a-170;
            $(".box-h").height(hh)

        })
            $("#example-table-2").tabulator({
                height: "100%",
                colMinWidth:100,
                fitColumns:true,
                sortable: false,
                selectable:true,
                pagination:"local",
                paginationSize:50,

                columns: [

                { title: "编辑", field: "g", width: 100,sortable: false,formatter: g, align: "center",sorter: "string", onClick: function (e, val, cell, row) {
                    var url = '/gxCodeManagement/Editmax?id=' + row.a;
                    window.location.href = url;  }
                },
                { title: "序号", field: "a", sortable: false,width: 100 },
                { title: "主类缩写", field: "b", sortable: false },
                { title: "最大档号", field: "c", sortable: false},
                { title: "最大登记号", field: "d", sortable: false },

                ],
            });

            var temp = new Array();
            var data=@(new HtmlString(@ViewBag.result));
            for (var i = 0; i < data.length;i++) {

                temp.push({ "id": i + 1, "a": data[i].ID, "b": data[i].mainCategoryID, "c": data[i].maxArchiveNo, "d": data[i].maxRegisNo });
            }

            $("#example-table-2").tabulator("setData", temp);
            $(window).resize(function () {
                var a = $(window).height();
                var hh = a-212;
                $(".box-h").height(hh);
                $("#example-table-2").tabulator("redraw",true);

            });

        });
</script>

<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>最大档号与登记号</h2>
    <ol class="breadcrumb">
        <li class="active">管线档案</li>
        <li class="active">编号管理</li>
        <li>最大档号与登记号</li>
    </ol>
    <div style="clear:both;"></div>
</section>
<hr style="margin-top:0px;" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="example-table-2" class="box-h" style="overflow:auto;"> </div>

    @*<div class="form-horizontal">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    序号
                </th>
                <th>
                    主类缩写
                </th>
                <th>
                    最大档号
                </th>
                <th>
                    最大登记号
                </th>
              

                <th>
                    编辑
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mainCategoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.maxArchiveNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.maxRegisNo)

                    </td>

                    <td>
                        @Html.ActionLink("编辑", "Editmax", new { id = item.ID })



                    </td>
                </tr>
            }

        </table>*@
        <div style="text-align:center;">
            <p style="margin-top:15px;">
                <input type="submit" value="添加新类信息" name="action" class="btn btn-default"> 

            </p>
            @*<input type="submit" value="返回" name="action" class="btn btn-default">*@
        </div>
   

}