@model urban_archive.Models.vw_projectProfile

@{
    ViewBag.Title = "Edit";
}

@section css{
    @*<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">*@
    <link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
}
<style type="text/css">
    .jubu {
        max-width: 100%;
    }
</style>
<style type="text/css">
    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .file:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
</style>
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-zh-CN.js"></script>*@

    <link href="/swfupload/css.css" rel="stylesheet" />

    <script type="text/javascript" src="/swfupload/js/swfupload.js"></script>

    <script type="text/javascript" src="/swfupload/js/swfupload.queue.js"></script>

    <script type="text/javascript" src="/swfupload/js/swfupload.speed.js"></script>

    <script type="text/javascript" src="/swfupload/js/fileprogress.js"></script>
    <script type="text/javascript" src="/swfupload/js/filegroupprogress.js"></script>
    <script type="text/javascript" src="/swfupload/js/handlers.js"></script>
    <script type="text/javascript"></script>
    <script>
        function OK()//获取文件名
        {
            var filename = document.getElementById("MyUploadile").files;
            //alert(filename);
            var str = "";
            for (var i = 0; i < filename.length; i++) {
                str += filename[i].name;
                str += ",";
            }
            document.getElementById("name1").value = str;
        }
        $(function () {
            $("#csyjDate").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
        $(function () {
            $("#dateReceived").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
        document.getElementById("recipient").onchange = function ()//列表传值到文本框
        {
            document.getElementById("name").value = this.options[this.options.selectedIndex].text;
            document.getElementById("csyjPerson").value = this.options[this.options.selectedIndex].text;
        }
        function del() {
            var msg = "确认要删除吗?";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }
        function xiugai() {
            var msg = "确认要保存修改吗?";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }
        $(document).ready(function () {
            $("#back").click(function () {
                window.close();
            });
        });
    </script>


}

@using (Html.BeginForm("Edit", "ProjectInfoes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2><i class="fa fa-tags kongge"></i>业务科：工程信息</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.projectID)
        <div class="panel panel-default" style="border:2px solid #ccc;">
            <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
                <tr>
                    <td style="background-color:#f9f9f9;min-width:130px;width:6%;font-weight:bold;">
                        工程名称
                    </td>
                    <td colspan="7">
                        @Html.EditorFor(model => model.projectName, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.projectName, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        工程地点
                    </td>
                    <td colspan="7">
                        @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        最新工程地点
                    </td>
                    <td colspan="7">
                        @Html.EditorFor(model => model.newLocation, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.newLocation, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        档案报送人
                    </td>
                    <td style="width:19%;">
                        @Html.EditorFor(model => model.submitPerson, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.submitPerson, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        报送人手机
                    </td>
                    <td style="width:19%;">
                        @Html.EditorFor(model => model.mobilephoneSubmitPerson, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mobilephoneSubmitPerson, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        报送人固话
                    </td>
                    <td style="width:19%;">
                        @Html.EditorFor(model => model.telphoneSubmitPerson, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telphoneSubmitPerson, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        档案密级
                    </td>
                    <td style="width:19%;">
                        @Html.DropDownList("securityID", null, htmlAttributes: new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.securityID, "", new { @class = "text-danger" })
                    </td>
                    @*<td style="background-color:#f9f9f9;width:10%;">
                            档案状态
                        </td>
                        <td style="width:15%;">
                            @Html.DisplayFor(model => model.status)
                        </td>*@
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        工程序号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.projectNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.projectNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        建筑面积
                    </td>
                    <td>
                        @Html.EditorFor(model => model.buildingArea, new { htmlAttributes = new { @class = "form-control", @style = "display:inline" } })
                        @Html.ValidationMessageFor(model => model.buildingArea, "", new { @class = "text-danger" }) 平方米
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        拟分类号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.prevClassNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.prevClassNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        保存期限
                    </td>
                    <td>
                        @Html.DropDownList("retentionPeriodNo", null, htmlAttributes: new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.retentionPeriodNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        项目顺序号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.paperProjectSeqNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.paperProjectSeqNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        接收日期
                    </td>
                    <td>
                        @Html.EditorFor(model => model.dateReceived, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dateReceived, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        接收人
                    </td>
                    <td>
                        @Html.DropDownList("recipient", null, htmlAttributes: new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.recipient, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        异地存放
                    </td>
                    <td>
                        @Html.DropDownList("isYD", null, htmlAttributes: new { @class = "form-control " })
                        @*@Html.EditorFor(model => model.isYD, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.isYD, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        项目概况
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.projectProfile, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.projectProfile, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        整理要求
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.collationRequirement, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.collationRequirement, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;min-width:130px;width:6%;font-weight:bold;">
                        测绘坐标
                    </td>
                    <td colspan="5">
                        @Html.EditorFor(model => model.coordinate, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.coordinate, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        档案状态
                    </td>
                    <td style="width:19%">
                        @Html.DropDownList("status", null, htmlAttributes: new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default" style="border:2px solid #ccc;">
            <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
                <tr>
                    <td style="background-color:#f9f9f9;min-width:130px;width:6%;font-weight:bold;" rowspan="2">
                        建设单位
                    </td>
                    <td colspan="6">
                        @Html.EditorFor(model => model.developmentOrganization, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.developmentOrganization, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;min-width:130px;width:6%;font-weight:bold;">
                        建设单位联系人
                    </td>
                    <td style="width:19%">
                        @Html.EditorFor(model => model.devolonpentOrgContacter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.devolonpentOrgContacter, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:130px;width:6%;font-weight:bold;">
                        固定电话
                    </td>
                    <td style="width:19%">
                        @Html.EditorFor(model => model.telphoneNoDevelopment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telphoneNoDevelopment, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        移动电话
                    </td>
                    <td>
                        @Html.EditorFor(model => model.mobilephoneNoDevelopment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mobilephoneNoDevelopment, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;" rowspan="2">
                        监理单位
                    </td>
                    <td colspan="6">
                        @Html.EditorFor(model => model.jianliUnit, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.jianliUnit, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        监理单位负责人
                    </td>
                    <td>
                        @Html.EditorFor(model => model.jianliUnitContacter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.jianliUnitContacter, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        监理者
                    </td>
                    <td>
                        @Html.EditorFor(model => model.telphoneNoJianliUnit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telphoneNoJianliUnit, "", new { @class = "text-danger" })
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;" rowspan="2">
                        施工单位
                    </td>
                    <td colspan="6">
                        @Html.EditorFor(model => model.constructionOrganization, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.constructionOrganization, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        施工单位法人
                    </td>
                    <td>
                        @Html.EditorFor(model => model.constructionOrgContacter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.constructionOrgContacter, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        技术员
                    </td>
                    <td>
                        @Html.EditorFor(model => model.telphoneNoConstruction, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telphoneNoConstruction, "", new { @class = "text-danger" })
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;" rowspan="2">
                        设计单位
                    </td>
                    <td colspan="6">
                        @Html.EditorFor(model => model.disignOrganization, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.disignOrganization, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        设计单位负责人
                    </td>
                    <td>
                        @Html.EditorFor(model => model.designOrgaContacter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.designOrgaContacter, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        设计者
                    </td>
                    <td>
                        @Html.EditorFor(model => model.telphoneNoDesignOrga, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telphoneNoDesignOrga, "", new { @class = "text-danger" })
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        初审意见
                    </td>
                    <td colspan="6">
                        @Html.EditorFor(model => model.csyj, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.csyj, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        初审意见人
                    </td>
                    <td colspan="2">
                        @Html.EditorFor(model => model.csyjPerson, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.csyjPerson, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        初审意见日期
                    </td>
                    <td colspan="2">
                        @Html.EditorFor(model => model.csyjDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.csyjDate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        备忘录
                    </td>
                    <td colspan="6">
                        @Html.EditorFor(model => model.memo, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.memo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;min-width:130px;font-weight:bold;">
                        文件上传
                    </td>
                    <td colspan="3">
                        <input name="name1" id="name1" type="text" style="display:inline;max-width:80%;" class="form-control jubu" value="@ViewBag.filename">
                        <div href="javascript:;" class="file" style="display:inline">
                                <input name="MyUploadile" id="MyUploadile" type="file" href="javascript:;" colspan="2" class="form-control" onchange="OK()" multiple />选择文件
                            </div>

                    </td>
                </tr>
            </table>
        </div>
        @*<div>

            <form id="frmMain" action="/swfupload/upload.ashx" runat="server" 　enctype="multipart/form-data" 　>
                <input name="name1" value="@ViewBag.name" id="name1" type="text" style="display:inline;max-width:80%;" class="form-control jubu">
                <span id="spanButtonPlaceHolder"></span>
                <div id="divprogresscontainer"></div>
                <div id="divprogressGroup"></div>
            </form>
            @*<h1 style="padding:10px; margin:30px; ">下面这个DIV将接收后台传回的文件路径，并以“|”隔开。</h1>
                <div id="showfileurls" style="padding:10px; margin:30px; border:1px solid #cdcdcd;"></div>

        </div>*@



        <div style="text-align:center;">
            <p>
                <input type="submit" value="删除" name="action" class="btn btn-default" onclick="return del()">
                <input type="submit" value="修改" name="action" class="btn btn-default" onclick="return xiugai()">
                <input type="button" value="返回" id="back" class="btn btn-default">
            </p>
            <div style="height:5px;">
            </div>
        </div>
    </div>
}