@model urban_archive.Models.ContractInfo

@{
    ViewBag.Title = "Edit";
}
@section css{
    <link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
    <script>
            $(function () {
                $("#dateSigned").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            $(function () {
                $("#planningStartDate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            $(function () {
                $("#planningEndDate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
    </script>
}
<h2 style="float:left;"><i class="fa fa-tags"></i>编辑</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.contractNo)        
        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal">
                <tr>
                    <td style="background-color:#f9f9f9;width:180px;">
                        建设单位
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.transferUnit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.transferUnit, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:180px;">
                        工程名称
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.projectName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.projectName, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:180px;">
                        工程地点
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:180px;">
                        层数
                    </td>
                    <td>
                        @Html.EditorFor(model => model.layerCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.layerCount, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;width:180px;">
                        建筑面积
                    </td>
                    <td>
                        @Html.EditorFor(model => model.buildingArea, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.buildingArea, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:180px;">
                        签订日期
                    </td>
                    <td>
                        @Html.EditorFor(model => model.dateSigned, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dateSigned, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;width:180px;">
                        计划开工时间
                    </td>
                    <td>
                        @Html.EditorFor(model => model.planningStartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.planningStartDate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:180px;">
                        计划竣工时间
                    </td>
                    <td>
                        @Html.EditorFor(model => model.planningEndDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.planningEndDate, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;width:180px;">
                        @Html.LabelFor(model => model.scanningCopy, htmlAttributes: new { @class = "control-label col-md-2" })                    </td>
                    <td>
                        @Html.EditorFor(model => model.scanningCopy)
                        @Html.ValidationMessageFor(model => model.scanningCopy, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:180px;">
                        @Html.LabelFor(model => model.isReceiveArchive, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.isReceiveArchive)
                        @Html.ValidationMessageFor(model => model.isReceiveArchive, "", new { @class = "text-danger" })
                    </td>
                    <td colspan="2">
                    </td>                    
                </tr>
                </table>


                    

                    

                    

                    


                   

                    


        @*</div>
                
                <div style="width:50%;float:left;border:1px solid #ccc;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.partAaddress, "地址", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.partAaddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partAaddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.partALegalRepresent, "业务科咨询电话", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.partALegalRepresent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partALegalRepresent, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.partAweituoAgent, "声像科咨询电话", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.partAweituoAgent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partAweituoAgent, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.partAcontactTel, "管理科咨询电话", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.partAcontactTel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partAcontactTel, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.partBadress, "建设单位", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.partBadress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partBadress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.partBLegalRepresent, "负责人", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.partBLegalRepresent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partBLegalRepresent, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.partBweituoAgent, "联系人", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.partBweituoAgent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partBweituoAgent, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.partBcontactTel, "联系人电话", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.partBcontactTel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partBcontactTel, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>*@
        </div>
    </div>
}

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
