
@{
    ViewBag.Title = "打印";
}

<h2><i class="fa fa-paperclip kongge"></i>打印列表</h2>
<hr />
<div class="panel panel-default">
    <table class="table table-bordered table-striped" style="text-align:center">
        <tr>
            <td>
                1
            </td>
            <td>
                @Html.ActionLink("城建档案接收明细", "danganjieshoumingxi")
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                @Html.ActionLink("城建档案总目录（项目顺序号、卷号）", "danganzongmulu")
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                @Html.ActionLink("档案整理情况", "gerenzhenglihuizong")
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                @Html.ActionLink("工程概况", "GongChengGaiKuang")
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                @Html.ActionLink("工程项目著录单(分类，项目顺序号范围)", "fenleizhuludan")
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                @Html.ActionLink("工程项目著录单（自动）", "ZhuludanAuto")
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                @Html.ActionLink("工程项目著录单（全部）", "ZhuludanFull")
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                @Html.ActionLink("工程项目著录单(项目顺序号，单项)", "ZhuludanDanXiang")
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                @Html.ActionLink("案卷著录单分类目录（分类查询，项目顺序号、卷次范围）", "AnJuanZhuLuDanFenLei")
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                @Html.ActionLink("案卷著录单（单卷，详细，项目顺序号、卷次范围）", "AnJuanZhuLuDan")
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                @Html.ActionLink("城建档案利用登记表（列表显示）", "ChengJianDangAnLiYongDengJiLieBiao")
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                @Html.ActionLink("城建档案利用登记表（单卷显示）", "ChengJianDangAnLiYongDengJiDanJuan")
            </td>
        </tr>
        <tr>
            <td>
               13
            </td>
            <td>
                @Html.ActionLink("城市建设档案案卷目录", "ChengJianDangAnAnJuanMuLu")
            </td>
        </tr>
        <tr>
            <td>
               14
            </td>
            <td>
                @Html.ActionLink("道路档案（年度、卷号范围）", "DaoLuDangAn")
            </td>
        </tr>
        <tr>
            <td>
               15
            </td>
            <td>
                @Html.ActionLink("执照档案（执照号范围）", "ZhiZhaoDangAn")
            </td>
        </tr>
        <tr>
            <td>
               16
            </td>
            <td>
                @Html.ActionLink("规划档案工程目录（种类，年度，顺序号范围）", "GuiHuaGongChengMuLu")
            </td>
        </tr>
        <tr>
            <td>
               17
            </td>
            <td>
                @Html.ActionLink("规划档案案卷目录（顺序号范围）", "GuiHuaAnJuanMuLu")
            </td>
        </tr>
        <tr>
            <td>
               18
            </td>
            <td>
                @Html.ActionLink("征地档案（档号范围）", "ZDDangAn")
            </td>
        </tr>
        <tr>
            <td>
               19
            </td>
            <td>
                @Html.ActionLink("分类档案（原档案编号范围）", "FenLeiDangAn")
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                @Html.ActionLink("分类竣工档案案卷目录", "FenLeiDangAnAnJuan")
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                @Html.ActionLink("城建档案B大类目录", "ChengJianBMuLu")
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                @Html.ActionLink("打印分类表（项目顺序号范围）", "FenLeiBiao")
            </td>
        </tr>
        @*<tr>
            <td>
                23
            </td>
            <td>
                @Html.ActionLink("生成分类大纲", "")
            </td>
        </tr>*@
        <tr>
            <td>
                24
            </td>
            <td>
                @Html.ActionLink("各类档案总卷数、总案卷厚度统计", "DangAnTongJi")
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                @Html.ActionLink("规划档案封皮", "GuiHuaFengPi")
            </td>
        </tr>
        </table>
    </div>
