
<h3>  @Html.ActionLink("竣工统计", "jungongtongji", "guanzhang")</h3>
<h3>  @Html.ActionLink("声像统计", "shengxiangtongji", "guanzhang")</h3>
<h3>  @Html.ActionLink("全部统计", "totaltongji", "guanzhang")</h3>
<h3>  @Html.ActionLink("收费查询", "CaiWuShouFeiList", "guanzhang")</h3>
<h3>  @Html.ActionLink("生成编号", "CodeEdit", "guanzhang")</h3>
<h3>  @Html.ActionLink("打印证件", "zhengjian", "guanzhang")</h3>
