@model IEnumerable<urban_archive.Models.ArchivesDetail>
@*@using PagedList.Mvc;*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
@{
    ViewBag.Title = "Index";
}
<style>
    .loader {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding-top: 100px;
        background-color: #ddd;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

        .loader i {
            margin-bottom: 20px;
            font-size: 60px;
        }
</style>
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>

<script src="~/Scripts/xlsx.full.min.js"></script>
<script type="text/javascript">
    var n = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-download' style='color:#428bca;;vertical-align:middle; padding:2px 0;'></i>"
    };
    var o = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa  fa-list-ol' style='color:#428bca;;vertical-align:middle; padding:2px 0;'></i>"
        };


    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            var a = $(window).height();
            var hh = a-160;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        })
            $("#example-table-2").tabulator({
                height:"100%",
                virtualDom:false,
                //virtualDomBuffer:666,
                //columnMinWidth:100,
                //minWidth
                fitColumns:true,
                selectable:true, //make rows selectable
                pagination:"local",
                paginationSize:50,


                columns: [
                {
                    title: "录入/查看", field: "n", width:80 ,formatter: n,headerSort: false,  sorter: "string", align: "center",cellClick: function (e,cell) {
                        var url = '/gxArchivesEnter/EnterAndSee?id=' + cell.getValue();
                        window.location.href = url;
                        //alert("您没有此权限!")
                    }
                },
                {
                    title: "卷内目录", field: "o", width:80 ,formatter: n,headerSort: false,  sorter: "string", align: "center",cellClick: function (e,cell) {

                        var url = '/gxArchivesEnter/FileList?id1=' +cell.getValue()+"&id2=0"+"&id=0";
                        window.location.href = url;

                    }
                },
                { title: "工程序号", field: "p",headerSort: false, width: 100 },
                { title: "项目顺序号", field: "a",headerSort: false, width: 100 },
                { title: "登记号", field: "b",headerSort: false, width: 100 },
                { title: "案卷题名", field: "c",headerSort: false, width: 300 },
                { title: "卷号", field: "d",headerSort: false, width: 50 },
                { title: "排架号", field: "e",headerSort: false, width: 100 },
                { title: "档号", field: "f",headerSort: false, width: 100 },
                { title: "第一责任者", field: "g",headerSort: false, width: 200 },
                { title: "其他责任者", field: "h",headerSort: false, width: 200 },
                { title: "文字页数", field: "i",headerSort: false, width: 80 },
                { title: "图纸页数", field: "j",headerSort: false, width: 80 },
                { title: "案卷厚度", field: "k",headerSort: false, width: 80 },
                { title: "录入员", field: "l",headerSort: false, width: 80 },
                { title: "录入日期", field: "m",headerSort: false, minWidth: 100},
                ],
            });
            $("#download-xlsx").click(function(){
                $("#example-table-2").tabulator("download", "xlsx", "data.xlsx");
            });
            var temp = new Array();
            var data=@(new HtmlString(@ViewBag.result));
            for (var i = 0; i < data.length;i++) {
                var b = data[i].typerDate
                if(b==null)
                {
                    result1=""
                }
                if(b!=null){
                    var date = new Date(parseInt(b.slice(6)))

                    result1 = date.getFullYear()+'/'+(parseInt(date.getMonth())+1)+'/'+date.getDate()

                }

                temp.push({ "id": i + 1,"n":  data[i].registrationNo, "o":data[i].archivesNo, "p": data[i].projectNo, "a": data[i].paperProjectSeqNo, "b": data[i].registrationNo,  "c": data[i].archivesTitle, "d": data[i].volNo,"e":data[i].paijiaNo,"f":data[i].archivesNo,"g": data[i].firstResponsible, "h":data[i].responsibleOther, "i":data[i].textMaterial,"j":data[i].drawing,"k":data[i].archiveThickness,"l":data[i].typist,"m":result1});
            }

            $("#example-table-2").tabulator("setData", temp);
            $(window).resize(function () {
                var a = $(window).height();
                var hh = a-160;
                $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
                $("#example-table-2").tabulator("redraw",true);
            });

        });
</script>
<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>市政档案管理（各工程最后一卷默认为内部案卷）</h2>
    <ol class="breadcrumb">
        <li class="active">管线档案</li>
        <li class="active">档案管理</li>
        <li>档案管理</li>
    </ol>
    <div style="clear:both;"></div>
</section>
@using (Html.BeginForm())
{
    <p>
        检索条件: @Html.DropDownList("SelectedID", null, new { @class = "form-control", @style = "display:inline" })=@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "display:inline" })
        <input type="submit" value="查找" class="btn btn-default" />
        <input type="submit" value="添加案卷" name="action" class="btn btn-default">
        <button id="download-xlsx" class="btn btn-default">导出数据</button>

    </p>

}
<div id="example-table-2" class="box-h"></div>
@*@using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <table class="table table-bordered table-striped">
                <tr>

                    <th>
                        项目顺序
                    </th>

                    <th>
                        登记号
                    </th>

                    <th>
                        案卷题名
                    </th>

                    <th>
                        卷号
                    </th>

                    <th>
                        排架号
                    </th>

                    <th>
                        档号
                    </th>

                    <th>
                        第一责任者
                    </th>

                    <th>
                        其他责任者
                    </th>

                    <th>
                        文字页数
                    </th>



                    <th>
                        图纸页数
                    </th>
                    <th>
                        案卷厚度
                    </th>
                    <th>
                        录入员
                    </th>
                    <th>
                        录入日期
                    </th>
                    <th>
                        查看/修改
                    </th>
                    <th>
                        卷内目录
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.paperProjectSeqNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.registrationNo)
                        </td>
                        <td style="width:20%;">
                           @Html.DisplayFor(modelItem => item.archivesTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volNo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.paijiaNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.archivesNo)
                        </td>
                        <td style="width:10%;">
                            @Html.DisplayFor(modelItem => item.firstResponsible)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.responsibleOther)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.textMaterial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.drawing)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.archiveThickness)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.typist)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.typerDate)
                        </td>

                        <td>
                            @Html.ActionLink("录入/查看", "EnterAndSee", "ArchivesEnter",new { id = item.registrationNo },"")

                        </td>

                        <td>
                            @Html.ActionLink("卷内目录", "FileList", "ArchivesEnter", new { id1 = item.archivesNo.Substring(0, item.archivesNo.IndexOf('.')+1), id2 = item.archivesNo.Substring(item.archivesNo.IndexOf('.') + 1, item.archivesNo.Length - 1 - item.archivesNo.IndexOf('.')),id3=item.archivesNo.IndexOf('.')+1 },"")



                        </td>


                    </tr>
                }
            </table>*@



@*<div style="text-align:right;font-size:16px;">
        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount 页
    </div>
    <div style="text-align:center;margin-top:0;">
        @Html.PagedListPager(Model, page => Url.Action("ArchiveMaga",
          new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>*@






