

<div class="col-md-4">
    <h3>@Html.ActionLink("执照档案录入", "Create")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("待归档", "Index", new { status = "GD" })</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("待编号", "Index", new { status = "BH" })</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("待入库", "Index", new { status = "SH" })</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("已入库", "Index", new { status = "RK" })</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("全部案卷", "Index")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("档案修改", "Index")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("案卷信息", "Index")</h3>
</div>
