@model urban_archive.Models.gxContractInfo

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">     
            <h2><i class="fa fa-tags kongge"></i>移交责任书信息</h2>
            <hr />
            <div class="panel panel-default">
                <table class="table table-bordered dl-horizontal">
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            合同编号
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.contractNo)
                        </td>
                        <td style="background-color:#f9f9f9;width:10%;">
                            签订日期
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.dateSigned)
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            移交方
                        </td>
                        <td colspan="3">
                            @Html.DisplayFor(model => model.transferUnit)
                        </td>                        
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            工程名称
                        </td>
                        <td colspan="3">
                            @Html.DisplayFor(model => model.projectName)
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            工程地点
                        </td>
                        <td colspan="3">
                            @Html.DisplayFor(model => model.location)
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            层数
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.layerCount)
                        </td>
                        <td style="background-color:#f9f9f9;width:10%;">
                            建筑面积
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.buildingArea)
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            计划开工时间 
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.planningStartDate)
                        </td>
                        <td style="background-color:#f9f9f9;width:10%;">
                            计划竣工时间
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.planningEndDate)
                        </td>
                    </tr>
                   </table>
               </div>
        <div class="panel panel-default">
                <table class="table table-bordered dl-horizontal">
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;"colspan="2">
                            甲方<i class="fa fa-caret-down"></i> 
                        </td>                 
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            地址 
                        </td>
                        <td>
                           @Html.DisplayFor(model => model.partAaddress)
                        </td>                        
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            法定代表人 
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.partALegalRepresent)
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            委托代理人
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.partAweituoAgent)
                        </td>                        
                    </tr>
                    <tr>
                        <td style="background-color:#f9f9f9;width:10%;">
                            联系电话 
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.partAcontactTel)
                        </td>                        
                    </tr>                   
                    </table>
                </div>  
        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal">
                <tr>
                    <td style="background-color:#f9f9f9;width:10%;" colspan="2">
                        乙方<i class="fa fa-caret-down"></i>
                    </td>
                </tr>
                <tr>                    
                    <td style="background-color:#f9f9f9;width:10%;">
                        地址
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.partBadress)
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:10%;">
                        法定代表人
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.partBLegalRepresent)
                    </td>
                </tr>
                <tr>                    
                    <td style="background-color:#f9f9f9;width:10%;">
                        委托代理人
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.partBweituoAgent)
                    </td>
                </tr>
                <tr>                    
                    <td style="background-color:#f9f9f9;width:10%;">
                        联系电话
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.partBcontactTel)
                    </td>
                </tr>
            </table>
        </div>    
        <div style="text-align:center;">
            <input type="submit" value="返回" name="action" class="btn btn-default">
            <div style="height:20px;"></div>
        </div>  
        </div>
}

