@model urban_archive.Models.bookInfo

@{
    ViewBag.Title = "添加图书信息";
}
<style type="text/css">
    .jubu {
        max-width: 100%;
    }
</style>

<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
@*<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-zh-CN.js"></script>*@
<script>
            $(function () {
                $("#publishDate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
</script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h2><i class="fa fa-tags kongge"></i>添加图书信息</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="text" id="bookNo" name="bookNo" value="@ViewBag.no" style="display:none">

        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal">
                <tr>
                    <td style="background-color:#f9f9f9;width:180px">
                        书名项
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.bookName, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.bookName, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:180px">
                        出版项
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.press, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.press, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td style="background-color:#f9f9f9;width:180px">
                        著
                    </td>
                    <td>
                        @Html.EditorFor(model => model.authorZhu, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.authorZhu, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;width:180px;">
                        编
                    </td>
                    <td>
                        @Html.EditorFor(model => model.authorBian, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.authorBian, "", new { @class = "text-danger" })

                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:180px;">
                        辑
                    </td>
                    <td>
                        @Html.EditorFor(model => model.authorJi, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.authorJi, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;width:180px;">
                        纂
                    </td>
                    <td>
                        @Html.EditorFor(model => model.authorZuan, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.authorZuan, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;">
                        译
                    </td>
                    <td>
                        @Html.EditorFor(model => model.authorYi, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.authorYi, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;">
                        汇
                    </td>
                    <td>
                        @Html.EditorFor(model => model.authorHui, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.authorHui, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;">
                        出版日期
                    </td>
                    <td>
                        @Html.EditorFor(model => model.publishDate, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.publishDate, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;">
                        价格
                    </td>
                    <td>
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;">
                        索书号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.suoShuNo, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.suoShuNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;">
                        分类号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.classificationNo, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.classificationNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;">
                        互检号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.huJianNo, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.huJianNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;">
                        页数
                    </td>
                    <td>
                        @Html.EditorFor(model => model.pageCount, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.pageCount, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;">
                        提要项
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.summary, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.summary, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>

       
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.borrowInfo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="borrowInfo" name="borrowInfo" value="未借出" class="form-control">
                </div>
            </div>


        

        <div style="text-align:center;">
            <input type="submit"  name="action" value="保存" class="btn btn-default" /> <input type="submit" name="action" value="继续添加" class="btn btn-default" /> 
            <a href="/bookInfoes" class="btn btn-default">返回</a>
            <div style="height:20px;"></div>
        </div>
    </div>
}


