@model IEnumerable<urban_archive.Models.vw_gxprojectList>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/tabulator.css" rel="stylesheet" />
@{
    ViewBag.Title = "PaperSettle";
}
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/tabulator.js"></script>
<script type="text/javascript">
    var j = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-search-plus' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i> "
    };
    var k = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-hand-lizard-o' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
        };


    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {

            var a = $(window).height();
            var hh = a-160;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        })
            $("#example-table-2").tabulator({
                sortable: false,
                selectable:true, //make rows selectable
                colMinWidth:100,
                fitColumns:true,
                height: "100%",
                pagination:"local",
                paginationSize:50,


                columns: [
{
                    title: "查看", field: "j", width: 100 ,formatter: j,sorter: "string", align: "center", onClick: function (e, val, cell, row) {

                        var url = '/LuruProject/Details?id=' + row.b+"&id2=3&classify="+row.m;





                        window.location.href = url;
                    }
                },
                {
                    title: "领取", field: "k", width: 100 ,formatter: k,  sorter: "string", align: "center", onClick: function (e, val, cell, row) {
                        var url = '/gxPaperSettle/lingqu?id=' + row.b+"&classify="+row.m;
                        window.location.href = url;
                    }
                },
                { title: "工程名称", field: "a", width: 300 },
                { title: "工程序号", field: "b", width: 180 },
                { title: "建设单位", field: "c", width: 300 },
                { title: "施工单位", field: "d", width: 300 },
                { title: "接收人", field: "e", width: 180 },
                { title: "接受日期", field: "f"  },



                ],
            });

            var temp = new Array();
            var data=@(new HtmlString(@ViewBag.result));
            for (var i = 0; i < data.length;i++) {
                var a = data[i].dateReceived
                if(a!=null){
                    var date =a.slice(0,10)
                    //var result = date.getFullYear()+'/'+date.getMonth()+'/'+date.getDate()
                }
                temp.push({ "id": i + 1, "a": data[i].projectName, "b": data[i].projectNo, "c": data[i].developmentOrganization, "d": data[i].constructionOrganization,"e": data[i].recipient,"f": date,"m": data[i].classifyID});
            }

            $("#example-table-2").tabulator("setData", temp);
            $(window).resize(function () {
                var a = $(window).height();
                var hh = a-160;
                $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
                $("#example-table-2").tabulator("redraw",true);

            });

        });
</script>
<section>
<h2 style="float:left;"><i class="fa fa-tags kongge"></i>待整理工程</h2>
<ol class="breadcrumb">
    <li class="active">管线档案</li>
    <li class="active">档案整理</li>
    <li>档案领取</li>
</ol>
<div style="clear:both;"></div>
</section>
@using (Html.BeginForm())
{
    <p>
    检索条件: @Html.DropDownList("SelectedID", null, new { @class = "form-control", @style = "display:inline" }) = @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "display:inline" })
    <input type = "submit" value = "查找" class="btn btn-default" />
    </p>

}
<div id="example-table-2" class="box-h" style="overflow:auto"> </div>
@*<div style="text-align:right;font-size:16px;">
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount 页
</div>
<div style="text-align:center;margin-top:0;">
    @Html.PagedListPager(Model, page => Url.Action("linquzhengli",
 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>*@

