@model IEnumerable<urban_archive.Models.gxArchivesDetail>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>
<script type="text/javascript">
    var m = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa  fa-list-ol' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i> "
    };
    var n = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-download' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
        };


    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            var a = $(window).height();
            var hh = a-120;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        })
        $("#example-table-2").tabulator({
            height:"100%",
            virtualDom:false,
            selectable: true,
            fitColumns:true,
            pagination:"local",
            paginationSize:50,
            columns: [
            {
                title: "卷内目录", field: "m", width: 80 ,formatter: m, headerSort: false,  align: "center",  cellClick: function (e,cell) {

                    var url = '/gxArchivesEnter/FileList?id1='+cell.getValue()+"&id2=0"+"&id=0";
                    window.location.href = url;
                }
            },
            {
                title: "录入/查看", field: "n", width: 80 ,formatter: n, headerSort: false, align: "center",  cellClick: function (e,cell) {
                    var url = '/gxArchivesEnter/EnterAndSee?id=' + cell.getValue();
                    window.location.href = url;
                }
            },
            { title: "卷号", field: "a",headerSort: false, width: 100 },
            { title: "登记号", field: "b",headerSort: false, width: 100 },
            { title: "案卷题名", field: "c",headerSort: false, width: 200 },
            { title: "排架号", field: "d",headerSort: false, width: 100 },
            { title: "档号", field: "e",headerSort: false, width: 100 },
            { title: "第一责任者", field: "f", headerSort: false,width: 200 },
            { title: "其他责任者", field: "g",headerSort: false, width: 200 },
            { title: "文字页数", field: "h",headerSort: false, width: 100 },
            { title: "图纸页数", field: "i",headerSort: false, width: 100 },
            { title: "案卷厚度", field: "j", headerSort: false,width: 100 },
            { title: "录入员", field: "k", headerSort: false,width: 100 },
            { title: "录入日期", field: "l",headerSort: false,width: 100 },
            ],
        });

        var temp = new Array();
             var data=@(new HtmlString(@ViewBag.result));
        for (var i = 0; i < data.length;i++) {
        //    var b = data[i].typerDate
        //    if(b!=null){
        //        var date = new Date(parseInt(b.slice(6)))

        //        result1 = date.getFullYear()+'/'+(parseInt(date.getMonth())+1)+'/'+date.getDate()

        //    }
        temp.push({ "id": i + 1, "a": data[i].volNo, "b": data[i].registrationNo, "c": data[i].archivesTitle, "d": data[i].paijiaNo,"e":data[i].archivesNo,"f":data[i].firstResponsible,"g": data[i].responsibleOther, "h":data[i].textMaterial, "i":data[i].drawing,"j":data[i].archiveThickness,"k":data[i].typist,"l":data[i].typerDate,"m":data[i].archivesNo,"n": data[i].registrationNo});
        }

        $("#example-table-2").tabulator("setData", temp);
        $(window).resize(function () {
            var a = $(window).height();
            var hh = a-120;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
            $("#example-table-2").tabulator("redraw",true);
        });

    });
</script>


<h2 style="margin-top:0;"><i class="fa fa-tags kongge"></i>案卷列表(最后一卷为工程内部案卷)</h2>
<hr />
<div id="example-table-2" class="box-h"> </div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    卷号
                </th>
                <th>
                    登记号
                </th>
                <th>
                    案卷题名
                </th>
                <th>
                    排架号
                </th>
                <th>
                    档号
                </th>
                <th>
                    第一责任者
                </th>
                <th>
                    其他责任者
                </th>
                <th>
                    文字页数
                </th>
                <th>
                    图纸页数
                </th>
                <th>
                    案卷厚度
                </th>
                <th>
                    录入员
                </th>
                <th>
                    录入日期
                </th>

                <th>
                    卷内目录
                </th>
                <th>
                    录入/查看
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.volNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.registrationNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.archivesTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.paijiaNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.archivesNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstResponsible)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.responsibleOther)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.textMaterial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.drawing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.archiveThickness)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.typist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.typerDate)
                    </td>

                    <td>
                        @Html.ActionLink("卷内目录", "FileList","ArchivesEnter" ,new { id1 = item.archivesNo.Substring(0, item.archivesNo.IndexOf('.') + 1), id2 = item.archivesNo.Substring(item.archivesNo.IndexOf('.') + 1, item.archivesNo.Length - 1 - item.archivesNo.IndexOf('.')), id3 = item.archivesNo.IndexOf('.') + 1 },"")


                    </td>
                    <td>
                        @Html.ActionLink("录入/查看", "EnterAndSee","ArchivesEnter" ,new { id = item.registrationNo,id2=0 },"")

                    </td>
                </tr>
            }

        </table>*@
    <div style="text-align:center;">
        <p>
            <input type="submit" value="返回" name="action" class="btn btn-default">

        </p>
    </div>
        @*</div>*@
}


