
@model urban_archive.Models.vw_projectList
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/tabulator.css" rel="stylesheet" />

<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
@{
    ViewBag.Title = "PaperSettle";
}
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script> 
<script src="~/Content/Tabulator/tabulator.js"></script>
<script>
            $(function () {
                $("#startdate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            $(function () {
                $("#enddate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
</script>
<script type="text/javascript">
    var p = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-search-plus' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var q = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-search-plus' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var r = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-search-plus' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };

    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            var a = $(window).height();
            var hh = a-180;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        })
        $("#example-table-2").tabulator({
            height: "100%",
            colMinWidth:100,
            fitColumns:true,
            selectable:true, //make rows selectable
            pagination:"local",
            paginationSize:50,
            columns: [
{
                title: "接收查看", field: "p", width: 100 ,formatter: p, sortable: false, sorter: "string", align: "center", onClick: function (e, val, cell, row) {
                    var url = '/gxStatisticalAndRetrieval/SeeReceive?id=' + row.p;
                    window.location.href = url;

                }
            },
            {
                title: "案卷查看", field: "q", width:100 ,formatter: q, sortable: false, sorter: "string", align: "center", onClick: function (e, val, cell, row) {
                    var url = '/gxStatisticalAndRetrieval/SeeArchives?id=' + row.c;
                    window.location.href = url;

                }
            },
            {
                title: "整理查看", field: "r", width:100 ,formatter: r, sortable: false, sorter: "string", align: "center", onClick: function (e, val, cell, row) {
                    var url = '/gxStatisticalAndRetrieval/SeeSettle?id=' + row.p+'&id2='+'1';
                    window.location.href = url;

                }
            },

            { title: "工程名称 ", field: "a", sortable: false,width: 200 },
            { title: "工程序号", field: "b", sortable: false,width: 100 },
            { title: "工程顺序号", field: "c", sortable: false,width: 100 },
            { title: "档号", field: "d", sortable: false,width: 200 },
            { title: "总登记号", field: "e", sortable: false,width: 100 },
            { title: "排架号", field: "f", sortable: false,width: 100 },
            { title: "工程地点", field: "g", sortable: false,width: 200 },
            { title: "建设单位", field: "h", sortable: false,width: 200 },
            { title: "设计单位", field: "i", sortable: false,width: 200 },
            { title: "施工单位", field: "j", sortable: false,width: 200 },
            { title: "状态", field: "k", sortable: false,width: 100 },
            { title: "整理人", field: "l", sortable: false,width: 100 },
            { title: "接收人", field: "m", sortable: false,width: 100},
            { title: "接收日期", field: "n", sortable: false,width: 100 },
            { title: "归档日期", field: "o", sortable: false},



            ],
        });
     
        var temp = new Array();
        var data=@(new HtmlString(@ViewBag.result1));
        for (var i = 0; i < data.length;i++) {
            var b = data[i].dateReceived
            if(b!=null){
             
                var date =b.split("-"); 
                var day=date[2].substring(0,2);
               
               
                var result = date[0]+'-'+date[1]+'-'+day;

            }
            var c = data[i].dateArchive
            if(c!=null){
                var date =c.split("-"); 
                var day=date[2].substring(0,2);
               
               
                var result1= date[0]+'-'+date[1]+'-'+day;

            }
            var f=data[i].startArchiveNo
            var g=data[i].endArchiveNo
            if(f!=null&&g!=null){
                var d=f+'——'+g
            }
            var h=data[i].startRegisNo
            var j=data[i].endRegisNo
            if(h!=null&&j!=null){
                var e=h+'——'+j
            }
            temp.push({ "id": i + 1, "a": data[i].projectName, "b": data[i].projectNo, "c": data[i].paperProjectSeqNo, "d":d ,"e":e,"f":data[i].paijiaRange,"g": data[i].location, "h":data[i].developmentOrganization, "i":data[i].disignOrganization,"j":data[i].constructionOrganization,"k":data[i].statusName,"l":data[i].collator,"m":data[i].recipient,"n":result, "o":result1,"p":data[i].projectID});
        }

        $("#example-table-2").tabulator("setData", temp);
        $(window).resize(function () {
            var a = $(window).height();
            var hh = a-180;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
            $("#example-table-2").tabulator("redraw",true);

        });

    });
</script>
<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>全部档案信息</h2>
    <ol class="breadcrumb">
        <li class="active">竣工档案</li>
        <li class="active">统计检索</li>
        <li>统计分析</li>
    </ol>
    <div style="clear:both;"></div>
</section>
    @using (Html.BeginForm())
    {
        <p>
                检索条件: @Html.DropDownList("SelectedID", null, new { @class = "form-control", @style = "display:inline" })
                接收日期：<input type="text" name="startdate" id="startdate" value="@ViewData["start"]" class = "form-control"style="display:inline" >至<input type="text" value="@ViewData["end"]" name="enddate" id="enddate" class="form-control"style="display:inline">
                <input type="submit" value="查找" class="btn btn-default" />
        </p>
    }
<div id="example-table-2" class="box-h" style="overflow:auto"> </div>
   
@*<div style="text-align:right;font-size:16px;">
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>*@
@*<div style="text-align:center;margin-top:0;">
    @Html.PagedListPager(Model, page => Url.Action("StatisticalAndAnalysis",
 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, SelectedID = ViewBag.SelectedID_1 }))*@
@*</div>*@
    







