@model urban_archive.Models.OtherArchives

@{
    ViewBag.Title = "道路档案添加";
}

<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>道路档案添加</h2>
    <ol class="breadcrumb">
        @*<li class="active">其他档案</li>*@
        <li class="active">道路档案</li>
        <li>档案录入</li>
    </ol>
    <div style="clear:both;"></div>
</section>
<hr style="margin-top:0px;"/>
<style type="text/css">
    .jubu {
        max-width: 100%;
    }
</style>
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
<script>
    $(function () {
        $("#bianzhiTime").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
    $(function () {
        $("#luruTime").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
    function ifok() {
        var msg = "确认要提交吗?";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }

    function add() {
        var text1 = document.getElementById("year").value;
        var text2 = document.getElementById("volNo").value;

        document.getElementById("licenceNo").value = text1.trim() + "-" + text2.trim();
    }

    function add1() {
        var text1 = document.getElementById("applyUnit").value;
        var text2 = document.getElementById("projectRange").value;
        document.getElementById("archiveTitle").value = text1 + " " + text2;
    }
</script>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>档案信息录入</h4>
            <hr />*@
        <p>
            当前序号:@ViewBag.ID
        </p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.ID } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="text" id="ID" name="ID" value="@ViewBag.ID" class="hidden" />
        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:100px;width:10%;">
                        档案类别
                    </td>
                    <td style="width:40%;">
                        <input type="text" id="classtype" name="classtype" value="道路档案" class="form-control" readonly="readonly" style="height:28px;padding:0px;">
                        @Html.EditorFor(model => model.classTypeID, new { htmlAttributes = new { @style = "display:none", @Value = "2" } })
                        @Html.ValidationMessageFor(model => model.classTypeID, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:100px;width:10%;">
                        档案馆代号
                    </td>
                    <td style="width:40%;">
                        <input type="text" id="urbanID" name="urbanID" value="437402" class="form-control" style="height:28px;padding:0px;">
                        @*@Html.EditorFor(model => model.urbanID, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.urbanID, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        年度
                    </td>
                    <td>
                        @Html.EditorFor(model => model.year, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        卷号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.volNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.volNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        执照号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.licenceNo, new { htmlAttributes = new { @class = "form-control", @style="height:28px;padding:0px;", @onblur = "add()"} })
                        @Html.ValidationMessageFor(model => model.licenceNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        总登记号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.registrationNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.registrationNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        排架号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.paijiaNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.paijiaNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        区工程顺序号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.areaProSeqNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.areaProSeqNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        申请单位
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.applyUnit, new { htmlAttributes = new { @class = "form-control jubu", @style= "height:28px;padding:0px;", @onblur = "add1()" } })
                        @Html.ValidationMessageFor(model => model.applyUnit, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        工程内容
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.projectRange, new { htmlAttributes = new { @class = "form-control jubu", @style= "height:28px;padding:0px;", @onblur = "add1()" } })
                        @Html.ValidationMessageFor(model => model.projectRange, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        案卷题名
                    </td>
                    <td colspan="3">
                        @*<textarea name="archiveTitle" id="archiveTitle" class="form-control" style="width:100%;height:80px;max-width:100%;overflow-y:scroll;height:28px;padding:0px;">@ViewBag.archiveTitle</textarea>*@
                        @Html.EditorFor(model => model.archiveTitle, new { htmlAttributes = new { @class = "form-control jubu", @style = "height:28px;padding:0px;", @onblur = "add1()" } })
                        @Html.ValidationMessageFor(model => model.archiveTitle, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        编制单位
                    </td>
                    <td>
                        <input type="text" id="bianzhiUnit" name="bianzhiUnit" value="青岛市规划局" class="form-control" style="height:28px;padding:0px;" />
                        @*  @Html.EditorFor(model => model.bianzhiUnit, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.bianzhiUnit, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        移交单位
                    </td>
                    <td>
                        <input type="text" id="tranferUnit" name="tranferUnit" value="青岛市规划局" class="form-control" style="height:28px;padding:0px;">
                        @*@Html.EditorFor(model => model.tranferUnit, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.tranferUnit, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        编制时间
                    </td>
                    <td>
                        @*<input type="text" id="bianzhiTime" name="bianzhiTime" value="@ViewBag.bianzhiTime">*@
                        @Html.EditorFor(model => model.bianzhiTime, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.bianzhiTime, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        地号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.landNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.landNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        工程地点
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control jubu", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        最新工程地点
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.newLocation, new { htmlAttributes = new { @class = "form-control jubu", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.newLocation, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        档案密级
                    </td>
                    <td>
                        @Html.DropDownList("securityID", null, new { @class = "form-control", @style = "height:28px;padding:0px;" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        保管期限
                    </td>
                    <td>
                        @Html.DropDownList("retentionPeriodNo", null, new { @class = "form-control", @style = "height:28px;padding:0px;" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        录入时间
                    </td>
                    <td>
                        <input type="text" id="luruTime" name="luruTime" value="@ViewBag.luruTime" class="form-control" style="height:28px;padding:0px;">
                        @*@Html.EditorFor(model => model.luruTime, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })*@
                        @Html.ValidationMessageFor(model => model.luruTime, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        录入人
                    </td>
                    <td>
                        <input id="luruPerson" name="luruPerson" value="@ViewBag.luruperson" class="form-control" readonly="readonly" style="height:28px;padding:0px;">
                        @* @Html.EditorFor(model => model.luruPerson, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.luruPerson, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        案卷厚度
                    </td>
                    <td>
                        @Html.DropDownList("ArchiveThick", null, new { @class = "form-control", @style = "height:28px;padding:0px;" })
                        @Html.ValidationMessageFor(model => model.ArchiveThick, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        存放地点
                    </td>
                    <td>
                        <input type="text" name="cunfangLocation" id="cunfangLocation" class="form-control" style="height:28px;padding:0px;" value="青岛市城建档案馆" />
                        @*@Html.EditorFor(model => model.cunfangLocation, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.cunfangLocation, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        是否异地
                    </td>
                    <td>
                        @Html.DropDownList("isYD", ViewBag.isYD as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "height:28px;padding:0px;" })
                        @Html.ValidationMessageFor(model => model.isYD, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        是否为内部
                    </td>
                    <td>
                        @Html.DropDownList("isNeibu", null, new { @class = "form-control", @style = "height:28px;padding:0px;" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        建筑面积
                    </td>
                    <td>
                        @Html.EditorFor(model => model.jianzhuArea, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:0px;" } })
                        @Html.ValidationMessageFor(model => model.jianzhuArea, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        备注
                    </td>
                    <td colspan="3">
                        @Html.TextAreaFor(model => model.note, new { @class = "form-control jubu", @style = "width:100%;height:80px;max-width:100%;overflow-y:scroll;height:28px;padding:0px;" })
                        @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        测绘坐标
                    </td>
                    <td colspan="3">
                        @Html.TextAreaFor(model => model.coordinate, new { @class = "form-control jubu", @style = "width:100%;height:80px;max-width:100%;overflow-y:scroll;height:28px;padding:0px;" })
                        @Html.ValidationMessageFor(model => model.coordinate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;">
                        共
                        @*<input type="text" id="count" name="count" value="@ViewBag.count" onblur="add();" />*@
                        @Html.EditorFor(model => model.count, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:0px;width:100px;" } })
                        @Html.ValidationMessageFor(model => model.count, "", new { @class = "text-danger" })
                        卷 ，
                        第
                        @* (<input type="text" id="volNo" name="volNo" value="@ViewBag.volNo" onblur="add();" />*@
                        @Html.EditorFor(model => model.volNo, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:0px;width:100px;" } })
                        @Html.ValidationMessageFor(model => model.volNo, "", new { @class = "text-danger" })卷<br>
                    </td>
                    <td colspan="2" style="font-weight:bold;">
                        @*<input type="text" id="textMaterial" name="textMaterial" value="@ViewBag.textMaterial" onblur="add();" />*@
                        @*@Html.EditorFor(model => model.textMaterial, new { htmlAttributes = new { @class = "form-control" } })*@

                        共 ( @Html.EditorFor(model => model.textMaterial, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:0px;width:100px;" } }))页
                        @Html.ValidationMessageFor(model => model.textMaterial, "", new { @class = "text-danger" })
                        （其中图纸 ( @Html.EditorFor(model => model.drawing, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:0px;width:100px;" } }))页）
                        @* <input type="text" id="drawing" name="drawing" value="@ViewBag.drawing" onblur="add();" />*@
                        @*@Html.EditorFor(model => model.drawing, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.drawing, "", new { @class = "text-danger" })<br>
                    </td>
                </tr>  
            </table>
        </div>
        <div style="text-align:center;">
            <p>
                <input type="submit" name="action" value="提交" class="btn btn-default" onclick="return ifok()" />
                <input type="submit" name="action" value="该卷文件目录" class="btn btn-default" style="@ViewData["wenjianmulu"]" />
                @*<input type="submit" name="action" value="添加下一卷" class="btn btn-default" onclick="return next()" disabled="@ViewData["next"]" />*@

                <div style="@ViewData["div1"]">
                    <input type="submit" name="action" value="打印案卷封皮(内部)" class="btn btn-default" disabled="@ViewData["fengpi"]" />
                    <input type="submit" name="action" value="打印备考表(内部)" class="btn btn-default" disabled="@ViewData["beikaobiao"]" />
                </div>
                <div style="@ViewData["div2"]">
                    <input type="submit" name="action" value="打印案卷封皮(外部)" class="btn btn-default" disabled="@ViewData["fengpi"]" />
                    <input type="submit" name="action" value="打印备考表(外部)" class="btn btn-default" disabled="@ViewData["beikaobiao"]" />
                </div>
            </p>
        </div>


                        @*<div class="panel panel-default">
                <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
                    <tr>
                        <td class="linear" style="color:white;font-size:18px;text-align:center;padding:2px;" colspan="4">
                            <i class="fa fa-check-square-o"></i>档案信息录入
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%;">
                            总登记号
                        </td>
                        <td>
                            @Html.EditorFor(model => model.registrationNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.registrationNo, "", new { @class = "text-danger" })
                        </td>
                        <td style="width:10%;">
                            档案类别
                        </td>
                        <td>
                            <input type="text" id="classtype" name="classtype" value="道路档案" class="form-control">
                            @Html.EditorFor(model => model.classTypeID, new { htmlAttributes = new { @style = "display:none", @Value = "2" } })
                            @Html.ValidationMessageFor(model => model.classTypeID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%;">
                            排架号
                        </td>
                        <td>
                            @Html.EditorFor(model => model.paijiaNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.paijiaNo, "", new { @class = "text-danger" })
                        </td>
                        <td style="width:10%;">
                            案卷厚度
                        </td>
                        <td>
                            @Html.DropDownList("ArchiveThick", ViewBag.ArchiveThick as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ArchiveThick, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%;">
                            是否异地
                        </td>
                        <td colspan="3">
                            @Html.DropDownList("isYD", ViewBag.isYD as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.isYD, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-default">
                <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
                    <tr>
                        <td class="linear" style="color:white;font-size:18px;text-align:center;padding:2px;" colspan="4">
                            <i class="fa fa-check-square-o"></i>道路档案信息
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%;">
                            申请单位
                        </td>
                        <td colspan="3">
                            @Html.EditorFor(model => model.applyUnit, new { htmlAttributes = new { @class = "form-control jubu" } })
                            @Html.ValidationMessageFor(model => model.applyUnit, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td style="width:10%;">
                            工程地点
                        </td>
                        <td colspan="3">
                            @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control jubu" } })
                            @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td style="width:10%;">
                            最新工程地点
                        </td>
                        <td colspan="3">
                            @Html.EditorFor(model => model.newLocation, new { htmlAttributes = new { @class = "form-control jubu" } })
                            @Html.ValidationMessageFor(model => model.newLocation, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td style="width:10%;">
                            测绘坐标
                        </td>
                        <td colspan="3">
                            @Html.EditorFor(model => model.coordinate, new { htmlAttributes = new { @class = "form-control jubu" } })
                            @Html.ValidationMessageFor(model => model.coordinate, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td style="width:10%;">
                            门牌号
                        </td>
                        <td>
                            @Html.EditorFor(model => model.doorplate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.doorplate, "", new { @class = "text-danger" })
                        </td>
                        <td style="width:10%;">
                            地号
                        </td>
                        <td>
                            @Html.EditorFor(model => model.landNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.landNo, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%;">
                            工程内容
                        </td>
                        <td>
                            @Html.EditorFor(model => model.projectRange, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.projectRange, "", new { @class = "text-danger" })
                        </td>
                        <td style="width:10%;">
                            卷号
                        </td>
                        <td>
                            @Html.EditorFor(model => model.volNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.volNo, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%;">
                            年度
                        </td>
                        <td colspan="3">
                            @Html.EditorFor(model => model.year, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                </table>
            </div>
            <div style="text-align:center;">
                <p>
                    <input type="submit" value="提交" class="btn btn-default" onclick="return ifok()" />
                </p>
            </div>*@


                        @*<div class="form-group">
                @Html.LabelFor(model => model.registrationNo, "总登记号", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.registrationNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.registrationNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.classTypeID, "档案类别", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="classtype" name="classtype" value="道路档案" class="form-control">
                    @Html.EditorFor(model => model.classTypeID, new { htmlAttributes = new { @style = "display:none", @Value = "2" } })
                    @Html.ValidationMessageFor(model => model.classTypeID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.paijiaNo, "排架号", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.paijiaNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.paijiaNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ArchiveThick, "案卷厚度", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArchiveThick", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArchiveThick, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.isYD, "是否异地", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.isYD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.isYD, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <h4>道路档案信息</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.applyUnit, "申请单位", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.applyUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.applyUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.location, "工程地点", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.doorplate, "门牌号", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.doorplate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.doorplate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.landNo, "地号", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.landNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.landNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.projectRange, "工程内容", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.projectRange, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.projectRange, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.volNo, "卷号", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.volNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.volNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.year, "年度", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.year, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="提交"class="btn btn-default"onclick="return ifok()" />
                </div>
            </div>*@
</div>
        }




        @*<div class="form-group">
                @Html.LabelFor(model => model.classNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.classNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.classNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.archiveNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.archiveNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.archiveNo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.archiveTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.archiveTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.archiveTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.bianzhiUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bianzhiUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bianzhiUnit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.bianzhiTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bianzhiTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bianzhiTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.inHouseTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.inHouseTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.inHouseTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.measureUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.measureUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.measureUnit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.count, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.count, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.count, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.securityID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.securityID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.securityID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.retentionPeriodNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.retentionPeriodNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.retentionPeriodNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.licenceNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.licenceNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.licenceNo, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group">
                @Html.LabelFor(model => model.proSeqNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.proSeqNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.proSeqNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.urbanID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.urbanID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.urbanID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.firstResponsible, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.firstResponsible, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.firstResponsible, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.otherResponsible, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.otherResponsible, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.otherResponsible, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.developUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.developUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.developUnit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tranferUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tranferUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tranferUnit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.designUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.designUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.designUnit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.constructionUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.constructionUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.constructionUnit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.textMaterial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.textMaterial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.textMaterial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.drawing, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.drawing, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.drawing, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.licenceTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.licenceTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.licenceTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.kaigongTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kaigongTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.kaigongTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.jungongTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.jungongTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.jungongTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.jianzhuArea, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.jianzhuArea, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.jianzhuArea, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.bilichi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bilichi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bilichi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.biaoyinPerson, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.biaoyinPerson, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.biaoyinPerson, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.biaoyinTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.biaoyinTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.biaoyinTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.shenhePerson, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.shenhePerson, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.shenhePerson, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.shenheTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.shenheTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.shenheTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.luruPerson, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.luruPerson, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.luruPerson, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.luruTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.luruTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.luruTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tuzhiniandai, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tuzhiniandai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tuzhiniandai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tufu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tufu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tufu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tuzhiStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tuzhiStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tuzhiStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.newLocation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.newLocation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.newLocation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cunfangLocation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cunfangLocation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cunfangLocation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.neirongTiyao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.neirongTiyao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.neirongTiyao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.isImageExist, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.isImageExist, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isImageExist, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.isJungongArch, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.isJungongArch, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isJungongArch, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.areaProSeqNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.areaProSeqNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.areaProSeqNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.areaNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.areaNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.areaNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.areaStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.areaStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.areaStatus, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.isNeibu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.isNeibu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isNeibu, "", new { @class = "text-danger" })
                </div>
            </div>*@


