@model urban_archive.Models.RoadJuannei

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h2 style="margin-top:0;"><i class="fa fa-tags kongge"></i>当前文件信息</h2>
        <hr />
        <div class="panel panel-default">
            <table class="table table-bordered ">
                <tr>
                    <td style="background-color:#f9f9f9;width:6%;min-width:130px;font-weight:bold;">
                        序号
                    </td>
                    <td width="44%">
                        @Html.DisplayFor(model => model.seqNo)
                    </td>
                    <td style="background-color:#f9f9f9;width:6%;min-width:130px;font-weight:bold;">
                        文件编号
                    </td>
                    <td width="44%">
                        @Html.DisplayFor(model => model.fileNo)
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        类型
                    </td>
                    <td colspan="3">
                        @Html.DisplayFor(model => model.type)
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        文件材料题名
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.fileName)
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        责任者
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.responsible)
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        起止页次
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.pageNo)
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        编制日期
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.bianzhiDate)
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        备注
                    </td>
                    <td colspan="3">
                        @Html.DisplayFor(model => model.remarks)
                    </td>
                </tr>
            </table>
        </div>

        @using (Html.BeginForm())
        {
            <div style="text-align:center;">
                <input type="submit" value="返回" class="btn btn-default" />
                <input value="@ViewData["archivesNo"]" hidden="hidden" id="archivesNo" />

                <div style="height:20px;">
                </div>
            </div>
        }
    </div>

}
