
@model  urban_archive.Models.BorrowRegistration


@section css{
    <link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
}
<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
<style type="text/css">
    .jubu {
        max-width: 100%;
    }

    .jubu1 {
        float: left;
    }
  

</style>
<script type="text/javascript">
    function closewin() {

        alert(1);
        window.close();

    }
</script>
@*<h2 style="text-align:center;margin-top:0;margin-bottom:20px;">—借阅登记—</h2>*@

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.ID)


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<legend style="background:#efefef;">借阅人登记信息</legend>*@
        <div class="panel panel-default" style="border:1px solid #408cca">
            <table class="table table-bordered dl-horizontal">
                <tr>
                    <td class="linear" style="color:white;font-size:18px;" colspan="4">
                        <i class="fa fa-check-square-o"></i>借阅人登记信息
                    </td>

                </tr>
                <tr>
                    <td style="width:10%;">
                        借阅人姓名
                    </td>
                    <td>
                        @Html.EditorFor(model => model.borrower, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.borrower, "", new { @class = "text-danger" })
                    </td>
                    <td style="width:10%;">
                        查档人次
                    </td>
                    <td>
                        @Html.EditorFor(model => model.consultFilePersonTime, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.consultFilePersonTime, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        借阅日期
                    </td>
                    <td>
                        @Html.EditorFor(model => model.borrowDate, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.borrowDate, "", new { @class = "text-danger" })
                    </td>
                    <td style="width:10%;">
                        联系电话
                    </td>
                    <td>
                        @Html.EditorFor(model => model.borrowerTel, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.borrowerTel, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        登记序号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.borrowSeqNo, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.borrowSeqNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="width:10%;">
                        家庭地址
                    </td>
                    <td>
                        @Html.EditorFor(model => model.borrowUnit, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.borrowUnit, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        单位/个人
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.singleOrDepart, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.singleOrDepart, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        用途
                    </td>
                    <td>
                        规划设计 @Html.CheckBox("PlantAndDesign", null)<br />
                        施工管理 @Html.CheckBox("ConstAndManage", null)<br />
                        房产登记 @Html.CheckBox("MarkAndRegis", null)<br />
                        解决纠纷 @Html.CheckBox("SettleAndArgue", null)<br />
                        史志科研 @Html.CheckBox("Reasearch", null)<br />
                        其它     @Html.CheckBox("Others", null)<br />
                    </td>
                    <td style="width:10%;">
                        利用档案目的
                    </td>
                    <td>
                        编史修志 @Html.CheckBox("MakeHistory", null)<br />
                        工作考察 @Html.CheckBox("WorkSurvice", null)<br />
                        学术研究 @Html.CheckBox("Research", null)<br />
                        经济建设 @Html.CheckBox("Finance", null)<br />
                        宣传教育 @Html.CheckBox("Education", null)<br />
                        其它 @Html.CheckBox("Others1", null)<br />
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        利用效果
                    </td>
                    <td>
                        节省人力 @Html.CheckBox("Effect1", null)<br />
                        节省资金 @Html.CheckBox("Effect2", null)<br />
                        节省时间 @Html.CheckBox("Effect3", null)<br />
                        提高效率 @Html.CheckBox("Effect4", null)<br />
                        其它 @Html.CheckBox("Others2", null)<br />
                    </td>
                    <td style="width:10%;">
                        经济效益<br /><br /><br /><br /><br />
                        详细利用效果
                    </td>
                    <td>
                        @Html.TextArea("ecnomicBenefit", null, 4, 40, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.ecnomicBenefit, "", new { @class = "text-danger" })<br /><br />
                        @Html.TextArea("userEffectDetail", null, 4, 40, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.userEffectDetail, "", new { @class = "text-danger" })
                    </td>
                </tr>

            </table>
        </div>
        @*<div class="form-group">
                            @Html.LabelFor(model => model.borrower, "借阅人姓名", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.borrower, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                                @Html.ValidationMessageFor(model => model.borrower, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.consultFilePersonTime, "查档人次", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.consultFilePersonTime, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                                @Html.ValidationMessageFor(model => model.consultFilePersonTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.borrowDate, "借阅日期", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.borrowDate, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                                @Html.ValidationMessageFor(model => model.borrowDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.borrowerTel, "联系电话", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.borrowerTel, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                                @Html.ValidationMessageFor(model => model.borrowerTel, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.borrowSeqNo, "登记序号", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.borrowSeqNo, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                                @Html.ValidationMessageFor(model => model.borrowSeqNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.borrowUnit, "家庭地址", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.borrowUnit, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                                @Html.ValidationMessageFor(model => model.borrowUnit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.singleOrDepart, "单位/个人", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.singleOrDepart, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })

                                @Html.ValidationMessageFor(model => model.singleOrDepart, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <fieldset>
                            <legend style="background:#efefef;">用途</legend>
                            规划设计 @Html.CheckBox("PlantAndDesign", null)<br />
                            施工管理 @Html.CheckBox("ConstAndManage", null)<br />
                            房产登记 @Html.CheckBox("MarkAndRegis", null)<br />
                            解决纠纷 @Html.CheckBox("SettleAndArgue", null)<br />
                            史志科研 @Html.CheckBox("Reasearch", null)<br />
                            其它     @Html.CheckBox("Others", null)<br />

                        </fieldset>


                        <fieldset>
                            <legend style="background:#efefef;">利用档案目的</legend>
                            编史修志 @Html.CheckBox("MakeHistory", null)<br />
                            工作考察 @Html.CheckBox("WorkSurvice", null)<br />
                            学术研究 @Html.CheckBox("Research", null)<br />
                            经济建设 @Html.CheckBox("Finance", null)<br />
                            宣传教育 @Html.CheckBox("Education", null)<br />
                            其它 @Html.CheckBox("Others1", null)<br />

                        </fieldset>


                        <fieldset>
                            <legend style="background:#efefef;">利用效果</legend>
                            节省人力 @Html.CheckBox("Effect1", null)<br />
                            节省资金 @Html.CheckBox("Effect2", null)<br />
                            节省时间 @Html.CheckBox("Effect3", null)<br />
                            提高效率 @Html.CheckBox("Effect4", null)<br />
                            其它 @Html.CheckBox("Others2", null)<br />

                        </fieldset>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ecnomicBenefit, "经济效益", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.TextArea("ecnomicBenefit", null, 4, 40, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ecnomicBenefit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.userEffectDetail, "详细利用效果", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.TextArea("userEffectDetail", null, 4, 40, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.userEffectDetail, "", new { @class = "text-danger" })
                            </div>
                        </div>
            </fieldset>*@
        <div class="panel panel-default" style="border:1px solid #408cca">
            <table class="table table-bordered dl-horizontal">
                <tr>
                    <td class="linear" style="color:white;font-size:18px;" colspan="4">
                        <i class="fa fa-check-square-o"></i>借阅人费用结算
                    </td>

                </tr>
                <tr>
                    <td style="width:10%;">
                        调阅卷数
                    </td>
                    <td>
                        @Html.EditorFor(model => model.consultVolumeCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.consultVolumeCount, "", new { @class = "text-danger" })
                    </td>
                    <td style="width:10%;">
                        查准卷数
                    </td>
                    <td>
                        @Html.EditorFor(model => model.precisionVolumeCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.precisionVolumeCount, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        案卷编号
                    </td>
                    <td colspan="3">
                        @Html.TextArea("archiveSerialNo", null, 4, 40, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.archiveSerialNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        调阅费
                    </td>
                    <td>
                        @Html.EditorFor(model => model.consultFee, new { htmlAttributes = new { @class = "form-control", @onblur = "javascript:regIsNumberAndJS(this);" } })
                        @Html.ValidationMessageFor(model => model.consultFee, "", new { @class = "text-danger" })
                    </td>
                    <td style="width:10%;">
                        证明费
                    </td>
                    <td>
                        @Html.EditorFor(model => model.certificationFee, new { htmlAttributes = new { @class = "form-control", @onblur = "javascript:regIsNumberAndJS(this);" } })
                        @Html.ValidationMessageFor(model => model.certificationFee, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        咨询费
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.paoKufangRen, new { htmlAttributes = new { @class = "form-control", @onblur = "javascript:regIsNumberAndJS(this);" } })
                        @Html.ValidationMessageFor(model => model.paoKufangRen, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        应交费用
                    </td>
                    <td>
                        <input type="text" id="TotalFee" name="TotalFee" value="@ViewData["YJfee"]" class="form-control" onblur="javascript:regIsNumberAndJS(this); " />
                    </td>
                    <td style="width:10%;">
                        实交费用
                    </td>
                    <td>
                        @Html.EditorFor(model => model.realFees, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.realFees, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        经办人
                    </td>
                    <td>
                        @Html.EditorFor(model => model.operator1, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.operator1, "", new { @class = "text-danger" })
                    </td>

                    <td colspan="2">
                        此次费用未收 @Html.CheckBox("ShouFei", null)<br />
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">
                        备注
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "form-control jubu", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>



        @*<fieldset>
                <legend style="background:#efefef;">借阅人费用结算</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.consultVolumeCount, "调阅卷数", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.consultVolumeCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.consultVolumeCount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.precisionVolumeCount, "查准卷数", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.precisionVolumeCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.precisionVolumeCount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.archiveSerialNo, "案卷编号", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.TextArea("archiveSerialNo", null, 4, 40, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.archiveSerialNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.consultFee, "调阅费", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.consultFee, new { htmlAttributes = new { @class = "form-control", @onblur = "javascript:regIsNumberAndJS(this);" } })
                        @Html.ValidationMessageFor(model => model.consultFee, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.certificationFee, "证明费", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.certificationFee, new { htmlAttributes = new { @class = "form-control", @onblur = "javascript:regIsNumberAndJS(this);" } })
                        @Html.ValidationMessageFor(model => model.certificationFee, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.paoKufangRen, "咨询费", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.paoKufangRen, new { htmlAttributes = new { @class = "form-control", @onblur = "javascript:regIsNumberAndJS(this);" } })
                        @Html.ValidationMessageFor(model => model.paoKufangRen, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" value="应交费用" class="control-label col-md-1" style="border:0px" />
                    <div class="col-md-2">
                        <input type="text" id="TotalFee" name="TotalFee" value="@ViewData["YJfee"]" class="form-control" onblur="javascript:regIsNumberAndJS(this); " />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.realFees, "实交费用", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.realFees, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.realFees, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.operator1, "经办人", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.operator1, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.operator1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.remarks, "备注", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                        @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    此次费用未收 @Html.CheckBox("ShouFei", null)<br />
                </div>


            </fieldset>*@
        <div class="panel panel-default" style="border:1px solid #408cca">
            <table class="table table-bordered dl-horizontal">
                <tr>
                    <td class="linear" style="color:white;font-size:18px;" colspan="4">
                        <i class="fa fa-check-square-o"></i>借阅人需打印图纸
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        @Html.Action("Siaomiaojian")
                    </td>
                </tr>
            </table>
        </div>
        @*<fieldset>
                <legend style="background:#efefef;">借阅人需打印图纸</legend>
                @Html.Action("Siaomiaojian");

            </fieldset>*@
        <div style="text-align:center;">
            <input type="submit" value="前一个" name="action" class="btn btn-default" disabled="@ViewData["Pre"]">
            <input type="submit" value="后一个" name="action" class="btn btn-default" disabled="@ViewData["Next"]">
            <input type="button" value="返回" name="action" onclick="closewin()" class="btn btn-default">
            <input value="@ViewData["url"]" name="url" id="url" hidden="hidden">
            <div style="height:20px;">
            </div>
        </div>
        @*<div>
                <p>

                    <input type="submit" value="前一个" name="action" class="btn btn-default" disabled="@ViewData["Pre"]">
                    <input type="submit" value="后一个" name="action" class="btn btn-default" disabled="@ViewData["Next"]">
                    <input type="submit" value="返回" name="action" class="btn btn-default">
                </p>
            </div>*@

    </div>
}
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@



