@model urban_archive.Models.vw_passList

@{
    ViewBag.Title = "Coding";
}
@section css{
    <link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
}
<style type="text/css">
    .jubu {
        max-width: 100%;
    }
    
    
</style>
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>

    }
    <script>

        //$(function () {
        //    $("#bianzhiTime").datepicker({
        //        changeMonth: true,
        //        changeYear: true
        //    });
        //});
            $(function () {
                $("#jgDate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            //$(function () {
            //    $("#fazahoTime").datepicker({
            //        changeMonth: true,
            //        changeYear: true
            //    });
            //});
            //$(function () {
            //    $("#kaigongTime").datepicker({
            //        changeMonth: true,
            //        changeYear: true
            //    });
            //});
            //$(function () {
            //    $("#jungongTime").datepicker({
            //        changeMonth: true,
            //        changeYear: true
            //    });
            //});
            $(function () {
                $("#indexeDate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            $(function () {
                $("#checkDate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            $(function () {
                $("#TyperDate").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
</script>
<script>
$().ready(function () {


    $("#checkname").ready(function () {

        var s = $("#checkname").val();

            if(s==1)
            {
                alert("该卷未录入完毕，保留了上一条的记录，录入时请注意！");
            }

            if (s== 2) {
                alert("该卷已录入完毕，编辑时请注意！");
            }
            if (s==3) {
                alert("保存成功");
            }

            @*if (s.length>2) {
                alert("档号为["+@ViewData["checkname"]+"]的案卷题名尚未保存，请核查");
            }*@



            });


});
    $().ready(function () {


        $("#checkname1").ready(function () {

            var s = $("#checkname1").val();


            if (s == 3) {
                alert("数据库中无该案卷信息，请返回！");
            }

            if (s == 4) {
                alert("登记号信息计算错误，请检查数据库信息");
            }





        });


    });
    //function saveok() {
    //    var msg = "确认要保存修改吗吗?";
    //    if (confirm(msg) == true) {
    //        return true;
    //    } else {
    //        return false;
    //    }
    //}
    //$(document).ready(function () {
    //    $("#pre").click(function () {
    //周林2017.08.06注释，此法不可用，不要解除注释

    //        var RegistrationNo = document.getElementById('registrationNo').value;
    //        var paperno = document.getElementById('paperProjectSeqNo').value;
    //        var volno = document.getElementById('volNo').value;
    //        $.ajax({
    //            type: "POST",
    //            url: "/ArchivesEnter/PreAndNex/?name=pre" + "&RegistrationNo=" + RegistrationNo + "&paperno=" + paperno + "&volno=" + volno,
    //            contentType: "application/json",
    //            data: "",
    //            dataType: "json",
    //            success: function (data) {



    //                onSuccess(data);


    //            }
    //        });

    //    });
    //});
    //$(document).ready(function () {
    //    $("#nex").click(function () {

    //        var RegistrationNo = document.getElementById('registrationNo').value;
    //        var paperno = document.getElementById('paperProjectSeqNo').value;
    //        var volno = document.getElementById('volNo').value;
    //        $.ajax({
    //            type: "POST",
    //            url: "/ArchivesEnter/PreAndNex/?name=nex" + "&RegistrationNo=" + RegistrationNo + "&paperno=" + paperno + "&volno=" + volno,
    //            contentType: "application/json",
    //            data: "",
    //            dataType: "json",
    //            success: function (data) {



    //                onSuccess(data);


    //            }
    //        });

    //    });
    //});
    function onSuccess(result) {
     
        if (result == null || result == "undefined") {
            alert("fail");
            return;
        }
        if (result[0].flag == "1") {

            document.getElementById('registrationNo').value = result[0].Registion;
            document.getElementById('archivesNo').value = result[0].ArchiveNo;
            document.getElementById('volNo').value = result[0].volno;
            if(document.getElementById('first').disabled ==true)
            {
                document.getElementById('first').disabled =false;
                document.getElementById('pre').disabled =false;
            }
            if (document.getElementById('last').disabled ==true)
            {
                document.getElementById('last').disabled =false;
                document.getElementById('nex').disabled =false;
            }
        }
        if (result[0].flag == "2") {
            document.getElementById('registrationNo').value = result[0].Registion;
            document.getElementById('archivesNo').value = result[0].ArchiveNo;
            document.getElementById('volNo').value = result[0].volno;
            document.getElementById('first').disabled = true;
            document.getElementById('pre').disabled = true;
            document.getElementById('jiaojiemulu').style = "display:none";
            document.getElementById('yijiaoshu').style = "display:none";
           
        }
        if (result[0].flag == "3") {
            document.getElementById('registrationNo').value = result[0].Registion;
            document.getElementById('archivesNo').value = result[0].ArchiveNo;
            document.getElementById('volNo').value = result[0].volno;
            document.getElementById('last').disabled = true;
            document.getElementById('nex').disabled = true;
            document.getElementById('jiaojiemulu').style = "display:inline-block";
            document.getElementById('yijiaoshu').style = "display:inline-block";
            
        }
    }
    function CalcuWordCnt(tm) {
        var tmp = tm.value;
        var len = tmp.replace(/[ ]/g, "");
        var txtCnt = document.getElementById('txtCnt');
        txtCnt.value = len.length;
    }
</script>


<h2 style="margin-top:0;margin-bottom:0px;"><i class="fa fa-tags kongge"></i>【@ViewData["ProjectName"]】案卷著录单</h2>
@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.paperProjectSeqNo)
<div class="form-horizontal">

       
        <div class="panel panel-default" style="margin-bottom:0px;">
            <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
                <tr>
                    <td style="background-color:#f9f9f9;min-width:160px;width:6%;font-weight:bold;">
                        此项目共
                    </td>
                    <td style="width:19%;">
                        @Html.EditorFor(model => model.archivesCount, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:65%;", @readonly = "readonly" } })卷
                        @Html.ValidationMessageFor(model => model.archivesCount, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        此工程为
                    </td>
                    <td style="width:19%;">
                        @Html.EditorFor(model => model.volNo, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:65%;", @readonly = "readonly" } })卷
                        @Html.ValidationMessageFor(model => model.volNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        总登记号
                    </td>
                    <td style="width:19%;">
                        @Html.EditorFor(model => model.registrationNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:3px;", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.registrationNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        市政档案号
                    </td>
                    <td style="width:19%;">
                        @Html.EditorFor(model => model.shizhengNo, new { htmlAttributes = new { @class = "form-control",@style = "height:28px;padding:3px;", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.shizhengNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        分类号
                    </td>
                    <td>
                        <input type="text" id="ClassNo" name="ClassNo" value="@ViewData["ClassNo"]", readonly = "readonly" class="form-control" style = "height:28px;padding:3px;"/>
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        档号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.archivesNo, new { htmlAttributes = new { @class = "form-control",  @style = "height:28px;padding:3px;", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.archivesNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        项目顺序号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.paperProjectSeqNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:3px;", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.paperProjectSeqNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        排架号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.paijiaNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:3px;", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.paijiaNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        执照号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.licenseNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.licenseNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        档案馆代号
                    </td>
                    <td>
                        <input type="text" id="UrbanNo" name="UrbanNo" value="437402" class="form-control", readonly = "readonly" style = "height:28px;padding:3px;" />
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        图幅号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.mapsheetNo, new { htmlAttributes = new { @class = "form-control",@style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.mapsheetNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        缩微号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.microNo, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.microNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        密级
                    </td>
                    <td>
                        @Html.DropDownList("securityName", null, new { @class = "form-control",  @style = "height:28px;padding:3px;" })
                        @Html.ValidationMessageFor(model => model.securityName, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        保存期限
                    </td>
                    <td>
                        @Html.DropDownList("retentionPeriodName", null, new { @class = "form-control", @style = "height:28px;padding:3px;" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        结构类型
                    </td>
                    <td>
                        @Html.DropDownList("structureTypeName", null, new { @class = "form-control",  @style = "height:28px;padding:3px;" })
                        @Html.ValidationMessageFor(model => model.structureTypeID, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        建筑面积
                    </td>
                    <td>
                        @Html.EditorFor(model => model.buildingArea, new { htmlAttributes = new { @class = "form-control",  @style = "display:inline;height:28px;padding:3px;width:65%;" } }) 平方米
                        @Html.ValidationMessageFor(model => model.buildingArea, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        案卷题名<br />
                        (共<input type="text" id="txtCnt" name="txtCnt" value="" class="form-control" style="width:50px;display:inline;height:28px;padding:3px;" />/108字)
                    </td>
                    <td colspan="7">
                        @Html.TextAreaFor(model => model.archivesTitle, new { onkeydown = "javascript:CalcuWordCnt(this);", onkeyup = "javascript:CalcuWordCnt(this);", @class = "form-control jubu", @style = "overflow-y:scroll;height:50px;padding:3px;" })
                        @Html.ValidationMessageFor(model => model.archivesTitle, "", new { @class = "text-danger" })
                    </td>
                </tr>            
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:160px;width:6%;">
                        第一责任者
                    </td>
                    <td colspan="3" style="width:44%;">
                        @Html.EditorFor(model => model.firstResponsible, new { htmlAttributes = new { @class = "form-control jubu", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.submitPerson, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:100px;width:6%;">
                        其他责任者
                    </td>
                    <td colspan="3" style="width:44%;">
                        @Html.EditorFor(model => model.responsibleOther, new { htmlAttributes = new { @class = "form-control jubu", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.responsibleOther, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        建设单位
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.developmentOrganization, new { htmlAttributes = new { @class = "form-control jubu", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.developmentOrganization, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        移交单位
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.transferUnit, new { htmlAttributes = new { @class = "form-control jubu", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.transferUnit, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        设计单位
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.disignOrganization, new { htmlAttributes = new { @class = "form-control jubu",  @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.disignOrganization, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        施工单位
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.constructionOrganization, new { htmlAttributes = new { @class = "form-control jubu",  @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.constructionOrganization, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        文字材料
                    </td>
                    <td style="width:19%">
                        @Html.EditorFor(model => model.textMaterial, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:65%;" } }) 页
                        @Html.ValidationMessageFor(model => model.textMaterial, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:100px;width:6%;">
                        图纸
                    </td>
                    <td style="width:19%">
                        @Html.EditorFor(model => model.drawing, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:65%;" } }) 张
                        @Html.ValidationMessageFor(model => model.drawing, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:100px;width:6%;">
                        照片
                    </td>
                    <td style="width:19%">
                        @Html.EditorFor(model => model.photoCount, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:65%;" } })张
                        @Html.ValidationMessageFor(model => model.photoCount, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:100px;width:6%;">
                        案卷厚度
                    </td>
                    <td style="width:19%">
                        @Html.EditorFor(model => model.archiveThickness, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:65%;"} })厘米
                        @Html.ValidationMessageFor(model => model.archiveThickness, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        编制日期
                    </td>
                    <td>
                        @Html.EditorFor(model => model.bianzhiTime, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.bianzhiTime, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        进馆日期
                    </td>
                    <td>
                        <input type="text" id="jgDate" name="jgDate" value="@ViewData["jgDate"]" class="form-control" style = "height:28px;padding:3px;" />
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        高度
                    </td>
                    <td>
                        @Html.EditorFor(model => model.height, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:65%;" } }) 米
                        @Html.ValidationMessageFor(model => model.height, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        变更情况
                    </td>
                    <td>
                        @Html.DropDownList("changeLog", null, new { @class = "form-control", @style = "height:28px;padding:3px;" })
                        @Html.ValidationMessageFor(model => model.changeLog, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        工程地址
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control jubu",  @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        备注
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "form-control jubu", @style = "display:inline;height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        最新工程地址
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.newLocation, new { htmlAttributes = new { @class = "form-control jubu", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.newLocation, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        层数
                    </td>
                    <td colspan="3">
                        地上
                        @Html.EditorFor(model => model.overground, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:30px;" } })
                        @Html.ValidationMessageFor(model => model.overground, "", new { @class = "text-danger" }) 层,
                        地下
                        @Html.EditorFor(model => model.underground, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;height:28px;padding:3px;width:30px;" } })
                        @Html.ValidationMessageFor(model => model.underground, "", new { @class = "text-danger" }) 层
                    </td>
                    
                </tr>
            </table>
        </div>
        <div class="panel panel-default" >
            
            <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
                <tr>
                    <td style="background-color:#f9f9f9;min-width:160px;width:6%;font-weight:bold;">
                        发照日期
                    </td>
                    <td style="width:27%">
                        @Html.EditorFor(model => model.fazhaoTime, new { htmlAttributes = new { @class = "form-control",  @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.fazhaoTime, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        开工日期
                    </td>
                    <td style="width:27%">
                        @Html.EditorFor(model => model.kaigongTime, new { htmlAttributes = new { @class = "form-control",  @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.kaigongTime, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;min-width:100px;width:6%;font-weight:bold;">
                        竣工日期
                    </td>
                    <td style="width:28%">
                        @Html.EditorFor(model => model.jungongTime, new { htmlAttributes = new { @class = "form-control", @style = "height:28px;padding:3px;" } })
                        @Html.ValidationMessageFor(model => model.jungongTime, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        标引员
                    </td>
                    <td>
                        @Html.DropDownList("indexer", null,"", new { @class = "form-control", @style = "height:28px;padding:3px;" })
                        @Html.ValidationMessageFor(model => model.jungongTime, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        审核员
                    </td>
                    <td>
                        @Html.DropDownList("checker", null, new { @class = "form-control", @style = "height:28px;padding:3px;" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        录入员
                    </td>
                    <td>
                        @Html.DropDownList("Typist", null, new { @class = "form-control", @style = "height:28px;padding:3px;" })
                    </td>

                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        标引日期
                    </td>
                    <td>
                        <input type="text" id="indexeDate" name="indexeDate" value="@ViewData["indexeDate"]" class="form-control" style = "height:28px;padding:3px;" />
                    </td>

                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        审核日期
                    </td>
                    <td>
                        <input type="text" id="checkDate" name="checkDate" value="@ViewData["checkDate"]" class="form-control"  style = "height:28px;padding:3px;"/>
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;">
                        录入日期
                    </td>
                    <td>
                        <input type="text" id="TyperDate" name="TyperDate" value="@ViewData["TyperDate"]" class="form-control"  style = "height:28px;padding:3px;"/>
                    </td>
                </tr>

            </table>
     
        <input value="@ViewData["checkname"]" name="checkname" id="checkname" hidden="hidden">
        <input value="@ViewData["checkname1"]" name="checkname1" id="checkname1" hidden="hidden">
    </div>
    <div style="text-align:center;">
        <p>
            <a href="@Url.Action("Reporting1", new { format = "PDF",archivesNo=Model.archivesNo})" ,class="easyui-linkbutton" data-options="iconCls:'icon-view'"><i class="glyphicon glyphicon-print"></i>打印案卷封皮</a> &nbsp;
            <a href="@Url.Action("Reporting2", new { format = "PDF",archivesNo=Model.archivesNo})" ,class="easyui-linkbutton" data-options="iconCls:'icon-view'"><i class="glyphicon glyphicon-print"></i>打印备考表</a> &nbsp;
            <a href="@Url.Action("yijiaoshu", new { format = "PDF",paperProjectSeqNo=Model.paperProjectSeqNo })" ,class="easyui-linkbutton" data-options="iconCls:'icon-view'" id="yijiaoshu"style="@ViewBag.yijiaoshu"><i class="glyphicon glyphicon-print"></i>打印移交书</a> &nbsp;
            <a href="@Url.Action("jiaojiemulu", new { format = "PDF",paperProjectSeqNo=Model.paperProjectSeqNo})" ,class="easyui-linkbutton" data-options="iconCls:'icon-view'"id="jiaojiemulu"style="@ViewBag.jiaojiemulu"><i class="glyphicon glyphicon-print"></i>打印交接目录</a>
        </p>
        <p>

            <input type="submit" value="该工程案卷列表" name="action" class="btn btn-default">
            <input type="submit" value="首卷" name="action" class="btn btn-default"id="first" disabled="@ViewData["button3"]">
            <input type="submit" value="前一卷" name="action" id="pre" class="btn btn-default" disabled="@ViewData["button1"]">
            <input type="submit" value="保存并提交" name="action" class="btn btn-default" @*disabled="@ViewData["button5"]"*@ @*onclick="return saveok()"*@>
            <input type="submit" value="后一卷" name="action"id="nex" class="btn btn-default" disabled="@ViewData["button2"]">
            <input type="submit" value="末卷" name="action" class="btn btn-default" id="last" disabled="@ViewData["button4"]">
            <input type="submit" value="该卷文件列表" name="action" class="btn btn-default">
           

        </p>
        @*<div style="height:5px;">*@
        </div>
    </div>
        @*</div>*@
}


     
