<div class="col-md-4">
    <h3>@Html.ActionLink("定点","Create", new { classifyID = 1 },"")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("审批", "Create", new { classifyID = 2 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("规条", "Create", new { classifyID = 5 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("函业", "Create", new { classifyID = 6 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("选址", "Create", new { classifyID = 7 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("变审", "Create", new { classifyID = 8 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("规审", "Create", new { classifyID = 9 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("管线", "Create", new { classifyID = 16 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("用地", "Create", new { classifyID = 17 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("市政", "Create", new { classifyID = 27}, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("道路红线", "Create", new { classifyID = 28 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("审查", "Create", new { classifyID = 29 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("建验", "Create", new { classifyID = 30 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("验整", "Create", new { classifyID = 31 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("建审", "Create", new { classifyID = 32 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("建变", "Create", new { classifyID = 33 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("外环", "Create", new { classifyID = 34 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("广雕", "Create", new { classifyID = 35 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("业字", "Create", new { classifyID = 36 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("变更 ", "Create", new { classifyID = 37 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("单验", "Create", new { classifyID = 38 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("建管", "Create", new { classifyID = 39 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("建拆", "Create", new { classifyID = 40 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("临市政", "Create", new { classifyID = 42 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("图批 ", "Create", new { classifyID = 45 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("拆字 ", "Create", new { classifyID = 46 }, "")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("规验", "Create", new { classifyID = 47 }, "")</h3>
</div>


<div class="col-md-4">
    <h3>@Html.ActionLink("待编号", "Index", new { status = "BH" })</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("待归档", "Index", new { status = "GD" })</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("待入库", "Index", new { status = "SH" })</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("已入库", "Index", new { status = "RK" })</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("档案列表", "Index")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("执照档案录入", "Create")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("档案修改", "Index")</h3>
</div>