@model urban_archive.Models.PlanProject

@{
    ViewBag.Title = "Create";
}
<style type="text/css">
    .dangqianzhuangtai {
        color: blue;
        text-decoration: underline;
    }
</style>
<style type="text/css">
    .jubu {
        max-width: 100%;
    }
</style>
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">

<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
@*<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-zh-CN.js"></script>*@
<script>

    function panduan() {
        var msg = "是否确认提交保存该卷内目录！";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
    function del() {
        var msg = "是否确认修改！";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }

    //获取第一个文本框的值并放入第三个文本框内.
    function add() {

        //var text1 = document.getElementById("file").value;//获取ID为landNo文本框的值.
        //var text2 = document.getElementById("yearNo").value;
        //var text3 = document.getElementById("projectID").value;
        var text1 = document.getElementById("fileNo").value;
        var text4 = document.getElementById("projectname").value;
        var text5 = document.getElementById("projectContent").value;
        var text6 = document.getElementById("developmentUnit").value;
        if (document.getElementById("isNeibu").value == "公开")
        {
            document.getElementById("archiveTitle_neibu").value = "";
            document.getElementById("projectContent_neibu").value = "";
        }
        //textarea标签在第二次赋值时将空格转换成换行，造成误换行，故写此函数
        if (document.getElementById("isNeibu").value == "公开" || document.getElementById("isNeibu").value == "公开/内部")
        {
            if (document.getElementById("archiveTitle").value == null || document.getElementById("archiveTitle").value=="")
            {
                //document.getElementById("fileNo").value = text1 + "字(" + text2 + ")第" + text3 + "号";
                //document.getElementById("archiveTitle").value = text1 + "字(" + text2 + ")第" + text3 + "号" + " " + text6 + " " + text4 + "\n" + text5;
                document.getElementById("archiveTitle").value = text1.trim() + " " + text6 + " " + text4 + "\n" + text5;
            }
            else
            {
                document.getElementById("archiveTitle").value = "";
                //document.getElementById("fileNo").value = text1 + "字(" + text2 + ")第" + text3 + "号";
                //document.getElementById("archiveTitle").value = text1 + "字(" + text2 + ")第" + text3 + "号" + " " + text6 + " " + text4 + "\n" + text5;
                document.getElementById("archiveTitle").value = text1.trim() + " " + text6 + " " + text4 + "\n" + text5;
            }
        }
    }

    function add_fileNo() {
        var text1 = document.getElementById("file").value;//获取ID为landNo文本框的值.
        var text2 = document.getElementById("yearNo").value;
        var text3 = document.getElementById("projectID").value;

        document.getElementById("fileNo").value = text1 + "字(" + text2 + ")第" + text3 + "号";
    }

    function add_neibu() {

        //var text1 = document.getElementById("file").value;//获取ID为landNo文本框的值.
        //var text2 = document.getElementById("yearNo").value;
        //var text3 = document.getElementById("projectID").value;
        var text1 = document.getElementById("fileNo").value;
        var text4 = document.getElementById("projectname").value;
        var text5 = document.getElementById("projectContent_neibu").value;
        var text6 = document.getElementById("developmentUnit").value;
        if (document.getElementById("isNeibu").value == "内部")
        {
            document.getElementById("archiveTitle").value = "";
            document.getElementById("projectContent").value = "";
        }
        if (document.getElementById("isNeibu").value == "内部" || document.getElementById("isNeibu").value == "公开/内部")
        {
            if (document.getElementById("archiveTitle_neibu").value == null || document.getElementById("archiveTitle_neibu").value == "")
            {
                document.getElementById("archiveTitle_neibu").value = text1.trim() + " " + text6 + " " + text4 + "\n" + text5;
            }
            else
            {
                document.getElementById("archiveTitle_neibu").value = "";
                document.getElementById("archiveTitle_neibu").value = text1.trim() + " " + text6 + " " + text4 + "\n" + text5;
            }
        }
    }

$().ready(function () {
    $("#fileNo").blur(function () {
        var ss = $("#fileNo").val();
        if (ss.length == 0) {
            document.getElementById("wenhao").style.display = "block";
        }
        else {
            document.getElementById("wenhao").style.display = "none";
        }
    });
});
$().ready(function () {
    $("#gongjijuan").blur(function () {
        var ss = $("#gongjijuan").val();
        if (ss.length == 0) {
            document.getElementById("zongjuanshu").style.display = "inline-block";
        }
        else {
            document.getElementById("zongjuanshu").style.display = "none";
        }
    });
});
$().ready(function () {
    $("#dijijuan").blur(function () {
        var ss = $("#dijijuan").val();
        if (ss.length == 0) {
            document.getElementById("juanshu").style.display = "inline-block";
        }
        else {
            document.getElementById("juanshu").style.display = "none";
        }
    });
});
$(document).ready(function () {
    $("#baocun").click(function () {


        var id = document.getElementById("ID").value;
        var securityID1 = document.getElementById("securityID").value;
        var retentionPeriodID1 = document.getElementById("retentionPeriodID").value;
        var gongjijuan1 = document.getElementById("gongjijuan").value;
        var dijijuan1 = document.getElementById("dijijuan").value;

        if (gongjijuan1 == null || gongjijuan1 == "")
        {
            alert("共几卷不能为空!");
        }
        if (dijijuan1 == null || dijijuan1 == "") {
            alert("第几卷不能为空!");
        }
        else {
            var projectname1 = document.getElementById("projectname").value;

            var boxNo1 = document.getElementById("boxNo").value;
            var developmentUnit1 = document.getElementById("developmentUnit").value;
            var projectContent1 = document.getElementById("projectContent").value;
            var projectLocation1 = document.getElementById("projectLocation").value;

            var yearNo1 = document.getElementById("yearNo").value;
            var classifyID1 = document.getElementById("classifyID").value;
            var projectID1 = document.getElementById("projectID").value;
            var fileNo1 = document.getElementById("fileNo").value;
            var photoCnt1 = document.getElementById("photoCnt").value;
            var dateReceived1 = document.getElementById("dateReceived").value;
            var remarks1 = document.getElementById("remarks").value;
            var bianzhiUnit1 = document.getElementById("bianzhiUnit").value;
            var luruPerson1 = document.getElementById("luruPerson").value;

            var bianzhiTime1 = document.getElementById("bianzhiTime").value;
            var pageNo1 = document.getElementById("pageNo").value;
            var shenhePerson1 = document.getElementById("shenhePerson").value;
            var isNeibu1 = document.getElementById("isNeibu").value;
            var projectContent_neibu1 = document.getElementById("projectContent_neibu").value;
            var archiveTitle1 = document.getElementById("archiveTitle").value;
            var archiveTitle_neibu1 = document.getElementById("archiveTitle_neibu").value;
            var pageNo_neibu1 = document.getElementById("pageNo_neibu").value;
            var developmentUnit_neibu1 = document.getElementById("developmentUnit").value;
            var projectLocation_neibu1 = document.getElementById("projectLocation").value;
            var photoCnt_neibu1 = document.getElementById("photoCnt_neibu").value;
            var wenziCnt1 = document.getElementById("wenziCnt").value;
            var wenziCnt_neibu1 = document.getElementById("wenziCnt_neibu").value;


            $.ajax({
                type: "POST",
 
                url: "/PlanProjects/Baocunok/?id=" + id + "&name=" + "baocun",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { securityID: securityID1, retentionPeriodID: retentionPeriodID1, gongjijuan: gongjijuan1, dijijuan: dijijuan1, projectname: projectname1, boxNo: boxNo1, developmentUnit: developmentUnit1, projectContent: projectContent1,projectLocation:projectLocation1, yearNo: yearNo1, classifyID: classifyID1, projectID: projectID1, fileNo: fileNo1, dateReceived: dateReceived1, remarks: remarks1, bianzhiUnit: bianzhiUnit1, luruPerson: luruPerson1, bianzhiTime:bianzhiTime1,pageNo:pageNo1,shenhePerson: shenhePerson1,isNeibu:isNeibu1,projectContent_neibu:projectContent_neibu1,archiveTitle: archiveTitle1,archiveTitle_neibu: archiveTitle_neibu1,pageNo_neibu: pageNo_neibu1 ,developmentUnit_neibu: developmentUnit_neibu1,projectLocation_neibu: projectLocation_neibu1, photoCnt_neibu: photoCnt_neibu1,wenziCnt:wenziCnt1,wenziCnt_neibu:wenziCnt_neibu1 , photoCnt:photoCnt1},
                dataType: "json",
                success: function (data) {

                    if (data == "1") {
                        alert("共几卷不能为空!");
                    }
                    if (data == "2") {
                        alert("第几卷不能为空!");
                    }
                    if (data == "3") {
                        alert("工程种类不能为空!");
                    }
                    if (data == "4") {
                        alert("保存成功!");
                    }
                    if (data == "5") {
                        alert("数据错误，保存失败");
                    }
                    if (document.getElementById("baocun").disabled == false) {
                        document.getElementById("baocun").disabled = true;

                        document.getElementById("xiugai").disabled = false;
                    }
                  
                    if (document.getElementById("gongjijuan").value == document.getElementById("dijijuan").value) {
                        if (document.getElementById("isNeibu").value == "公开") {
                            document.getElementById("fengpiG").style.display = "inline-block";
                            document.getElementById("beikaobiaoG").style.display = "inline-block";
                            document.getElementById("fengpiN").style.display = "none";
                            document.getElementById("beikaobiaoN").style.display = "none";

                        }
                        if (document.getElementById("isNeibu").value == "内部") {
                            document.getElementById("fengpiG").style.display = "none";
                            document.getElementById("beikaobiaoG").style.display = "none";
                            document.getElementById("fengpiN").style.display = "inline-block";
                            document.getElementById("beikaobiaoN").style.display = "inline-block";

                        }
                        if (document.getElementById("isNeibu").value == "公开/内部") {
                            document.getElementById("fengpiG").style.display = "inline-block";
                            document.getElementById("beikaobiaoG").style.display = "inline-block";
                            document.getElementById("fengpiN").style.display = "inline-block";
                            document.getElementById("beikaobiaoN").style.display = "inline-block";

                        }
                    }

                }
            });
        }
   });
});

$(document).ready(function () {
    $("#xiugai").click(function () {

        var msg = "是否确认修改！";
        if (confirm(msg) == true) {


            var id1 = document.getElementById("ID").value;
            var totalSeqNo1 = document.getElementById("totalSeqNo").value;
            var seqNo1 = document.getElementById("seqNo1").value;
            var securityID1 = document.getElementById("securityID").value;
            var retentionPeriodID1 = document.getElementById("retentionPeriodID").value;
            var gongjijuan1 = document.getElementById("gongjijuan").value;
            var dijijuan1 = document.getElementById("dijijuan").value;
            if (gongjijuan1 == null || gongjijuan1 == "") {
                alert("共几卷不能为空!");
            }
            if (dijijuan1 == null || dijijuan1 == "") {
                alert("第几卷不能为空!");
            }
            else {
                var projectname1 = document.getElementById("projectname").value;
                var boxNo1 = document.getElementById("boxNo").value;
                var developmentUnit1 = document.getElementById("developmentUnit").value;
                var projectContent1 = document.getElementById("projectContent").value;
                var projectLocation1 = document.getElementById("projectLocation").value;

                var yearNo1 = document.getElementById("yearNo").value;
                var classifyID1 = document.getElementById("classifyID").value;
                var projectID1 = document.getElementById("projectID").value;
                var fileNo1 = document.getElementById("fileNo").value;
                var photoCnt1 = document.getElementById("photoCnt").value;
                var dateReceived1 = document.getElementById("dateReceived").value;
                var remarks1 = document.getElementById("remarks").value;
                var bianzhiUnit1 = document.getElementById("bianzhiUnit").value;
                var luruPerson1 = document.getElementById("luruPerson").value;

                var bianzhiTime1 = document.getElementById("bianzhiTime").value;
                var pageNo1 = document.getElementById("pageNo").value;
                var shenhePerson1 = document.getElementById("shenhePerson").value;
                var isNeibu1 = document.getElementById("isNeibu").value;
                var projectContent_neibu1 = document.getElementById("projectContent_neibu").value;
                var archiveTitle1 = document.getElementById("archiveTitle").value;
                var archiveTitle_neibu1 = document.getElementById("archiveTitle_neibu").value;
                var pageNo_neibu1 = document.getElementById("pageNo_neibu").value;
                var developmentUnit_neibu1 = document.getElementById("developmentUnit").value;
                var projectLocation_neibu1 = document.getElementById("projectLocation").value;
                var photoCnt_neibu1 = document.getElementById("photoCnt_neibu").value;
                var wenziCnt1 = document.getElementById("wenziCnt").value;
                var wenziCnt_neibu1 = document.getElementById("wenziCnt_neibu").value;
                var coordinate1 = document.getElementById("coordinate").value;
                var isguajie1 = document.getElementById("isguajie").value;
                $.ajax({
                    type: "POST",
                    url: "/PlanProjects/Baocunok/?name=xiugai",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: { id: id1, securityID: securityID1, retentionPeriodID: retentionPeriodID1, projectLocation: projectLocation1, gongjijuan: gongjijuan1, dijijuan: dijijuan1, projectname: projectname1, boxNo: boxNo1, developmentUnit: developmentUnit1, projectContent: projectContent1, yearNo: yearNo1, classifyID: classifyID1, projectID: projectID1, fileNo: fileNo1, dateReceived: dateReceived1, remarks: remarks1, bianzhiUnit: bianzhiUnit1, luruPerson: luruPerson1, bianzhiTime: bianzhiTime1, pageNo: pageNo1, shenhePerson: shenhePerson1, isNeibu: isNeibu1, projectContent_neibu: projectContent_neibu1, archiveTitle: archiveTitle1, archiveTitle_neibu: archiveTitle_neibu1, pageNo_neibu: pageNo_neibu1, developmentUnit_neibu: developmentUnit_neibu1, projectLocation_neibu: projectLocation_neibu1, photoCnt_neibu: photoCnt_neibu1, wenziCnt: wenziCnt1, wenziCnt_neibu: wenziCnt_neibu1, photoCnt: photoCnt1, totalSeqNo: totalSeqNo1, seqNo2: seqNo1, coordinate: coordinate1,isguajie: isguajie1},
                    dataType: "json",
                    success: function (data) {

                        if (data == "1") {
                            alert("共几卷不能为空!");
                        }
                        if (data == "2") {
                            alert("第几卷不能为空!");
                        }
                        if (data == "3") {
                            alert("工程种类不能为空!");
                        }
                        if (data == "6") {
                            alert("修改成功!");
                        }
                        if (data == "5") {
                            alert("数据错误，保存失败");
                        }


                    }
                });
            }
        }
    });
});
$(document).ready(function () {
    $("#finish").click(function () {
        if (document.getElementById("ProjectContent").style.display=="none")
        {
                document.getElementById("ProjectContent").style.display = "inline-block";

        }

    });
});
$(document).ready(function () {
    $("#fengpiG").click(function () {
        var a = document.getElementById("ID").value*1;
        window.open('/PlanProjects/GuiHuaGongChengFengPi/?id=' + a + "&id1=0");
    });
});
$(document).ready(function () {
    $("#beikaobiaoG").click(function () {
        var b = document.getElementById("ID").value * 1;
        window.open('/PlanProjects/beikaobiao/?id=' + b + "&id1=0");
    });
}); $(document).ready(function () {
    $("#fengpiN").click(function () {
        var c = document.getElementById("ID").value * 1 ;
        window.open('/PlanProjects/GuiHuaGongChengFengPi/?id=' + c + "&id1=1");
    });
}); $(document).ready(function () {
    $("#beikaobiaoN").click(function () {
        var d = document.getElementById("ID").value * 1;
        window.open('/PlanProjects/beikaobiao/?id=' + d + "&id1=1");
    });
});
$(document).ready(function () {
    $("#ProjectContent").click(function () {
        var e = document.getElementById("seqNo1").value * 1;
        window.open('/PlanProjects/GuiHuaGongChengMuLu/?id=' + e);
    });
});
$().ready(function () {
    $("#boxID").blur(function () {
        var ss = $("#boxID").val();
        if (ss.length == 0) {
            document.getElementById("tishi").style.display = "inline-block";
        }
        else {
            document.getElementById("tishi").style.display = "none";
        }
    });
});
function add1() {
    var text1 = document.getElementById("box").value;//获取ID为landNo文本框的值.
    var text2 = document.getElementById("year").value.trim();
    var text3 = document.getElementById("boxID").value.trim();
    var text4 = "";
    switch (document.getElementById("quyu").value.trim()) {
        case "1":
            text4 = "";
            break;
        case "2":
            text4 = "北";
            break;
        case "3":
            text4 = "四";
            break;
        case "4":
            text4 = "李";
            break;
        case "5":
            text4 = "南";
            break;
        case "6":
            text4 = "崂";
            break;
        case "7":
            text4 = "城";
            break;
        case "8":
            text4 = "黄";
            break;
        case "9":
            text4 = "胶";
            break;
        case "10":
            text4 = "胶南";
            break;
        case "11":
            text4 = "平";
            break;
        case "12":
            text4 = "莱";
            break;
        case "13":
            text4 = "即";
            break;
        case "14":
            text4 = "开";
            break;
        default:
            break;
    }
    document.getElementById("yearNo").value = text2;
    document.getElementById("boxNo").value = text2 + "年" + text4 + text1 + "第" + text3 + "号";

}

   $(document).ready(function () {
       $("#back").click(function () {
           window.close();
       });
   });
</script>
<section>
    <h2 style="float:left;margin:0px;"><i class="fa fa-tags kongge"></i>规划档案【工程修改】</h2>
    <div class="breadcrumb" style="margin:0px;">
        @*<div style="@ViewBag.quanxian">*@
        <div style="float:left;">
            @Html.ActionLink("规划档案录入", "Create", new { classifyID = ViewBag.classifyID }, new { @class = "dangqianzhuangtai" }) ->
            @Html.ActionLink("待归档", "Index_LR", new { classifyID = ViewBag.classifyID }) ->

        </div>
        <div style="float:left;">
            @Html.ActionLink("待编号", "Index_GD", new { classifyID = ViewBag.classifyID }) ->
            @Html.ActionLink("待入库", "Index_BH", new { classifyID = ViewBag.classifyID }) ->
            @Html.ActionLink("已入库", "Index_RK", new { classifyID = ViewBag.classifyID }) ->
            @Html.ActionLink("工程列表", "Index_ALL", new { classifyID = ViewBag.classifyID })
        </div>
    </div>
    <div style="clear:both;"></div>
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="padding-left:30px;">工程种类： @ViewBag.classifyName</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("classifyID")
        @* @Html.Hidden("classifyID", (int)ViewBag.classifyID)*@

        <input type="text" id="ID" name="ID" value="@ViewBag.ID" class="hidden" />
        <div class="panel panel-default" style="margin-bottom:0px;">
            <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
                <tr>

                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        盒名
                    </td>
                    <td colspan="3">

                        <input type="text" id="year" name="year" style="display:inline" value="@ViewBag.year" class="form-control" onblur="add1()" />年
                        @Html.DropDownList("quyu", null, new { @class = "form-control", @style = "display:inline;width:150px;", @onblur = "add1()" })
                        <input type="text" id="box" name="box" style="display:inline" class="form-control" value="@ViewBag.box" onblur="add1()" />@*数据库里并没有这个字段，为了方便录入合成盒号*@


                        第 <input type="text" id="boxID" style="display:inline" class="form-control" name="boxID" value="@ViewBag.boxid" onblur="add1()" />号文件
                        <label id="tishi" style="display:none;color:crimson">盒号不能为空！</label>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        盒名
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.boxNo, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.boxNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>

                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        文件编号
                    </td>
                    <td style="width:44%;">
                        <input type="text" id="file" name="file" onblur="add()" value="@ViewBag.classname" @*onclick="choose()"*@ style="width:100px;display:inline;padding:0px 5px;height:28px;" class="form-control" />
                        @*@Html.EditorFor(model => model.boxNo, "", new { htmlAttributes = new { @style = "width:150px;display:inline;padding:0px 5px;height:28px;", @class = "form-control", @onblur = "add()" } })*@
                        字【
                        @Html.EditorFor(model => model.yearNo, "", new { htmlAttributes = new { @style = "width:100px;display:inline;padding:0px 5px;height:28px;", @class = "form-control", @onblur = "add()" } })】
                        第
                        @Html.EditorFor(model => model.projectID, new { htmlAttributes = new { @style = "width:100px;display:inline;padding:0px 5px;height:28px;", @class = "form-control", @onblur = "add()" } })
                        @* <input type="text" id="txtprojectno2" name="txtprojectno2" class="form-control" style="width:100px;display:inline" value="@ViewBag.jbhao" />*@
                        号
                        &nbsp;&nbsp;
                        是否挂接到崂山：
                        @Html.DropDownList("isguajie", null, new { @class = "form-control", @style = "width:100px;display:inline;padding:0px 5px;height:28px;" })

                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        文号
                    </td>
                    <td style="width:44%;">
                        @Html.EditorFor(model => model.fileNo, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;padding:0px 5px;height:28px;", @onblur = "add_fileNo()" } })
                        <label id="wenhao" style="display:none;color:crimson">文号不能为空！</label>
                    </td>
                </tr>


                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        工程总顺序号
                    </td>
                    <td>
                        @Html.EditorFor(model => model.totalSeqNo, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;padding:0px 5px;height:28px;", @onblur = "add()" } })
                        @Html.ValidationMessageFor(model => model.totalSeqNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        盒号
                    </td>
                    <td>

                        @Html.EditorFor(model => model.seqNo1, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;padding:0px 5px;height:28px;", @onblur = "add()" } })
                        @Html.ValidationMessageFor(model => model.seqNo1, "", new { @class = "text-danger" })
                    </td>


                </tr>





                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        工程名称
                    </td>
                    <td>
                        @Html.EditorFor(model => model.projectname, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;padding:0px 5px;height:28px;", @onblur = "add()" } })
                        @Html.ValidationMessageFor(model => model.projectname, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        工程地点
                    </td>
                    <td>
                        @Html.EditorFor(model => model.projectLocation, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;padding:0px 5px;height:28px;", @onblur = "add()" } })
                        @Html.ValidationMessageFor(model => model.projectLocation, "", new { @class = "text-danger" })
                    </td>
                   

                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        建设单位
                    </td>
                    <td>
                        @Html.EditorFor(model => model.developmentUnit, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.developmentUnit, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        保管年限
                    </td>
                    <td>
                        @Html.DropDownList("retentionPeriodID", null, new { @class = "form-control", @style = "padding:0px 5px;height:28px;" })
                    </td>
                  
                </tr>
                <tr>

                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        是否为内部
                    </td>
                    <td>
                        @Html.DropDownList("isNeibu", null, new { @class = "form-control", @style = "padding:0px 5px;height:28px;" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        档案密级
                    </td>
                    <td>
                        @Html.DropDownList("securityID", null, new { @class = "form-control", @style = "padding:0px 5px;height:28px;" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        文件材料题名<br />(公开)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.projectContent, new { @class = "form-control", @onblur = "add()", @style = "max-width:100%;padding:0px 5px;height:56px;" })
                        @Html.ValidationMessageFor(model => model.projectContent, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        文件材料题名<br />(内部)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.projectContent_neibu, new { @class = "form-control", @onblur = "add_neibu()", @style = "max-width:100%;padding:0px 5px;height:56px;" })
                        @Html.ValidationMessageFor(model => model.projectContent_neibu, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        案卷题名(公开)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.archiveTitle, new { @class = "form-control", @onblur = "add()", @style = "max-width:100%;padding:0px 5px;height:56px;" })

                        @Html.ValidationMessageFor(model => model.archiveTitle, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        案卷题名(内部)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.archiveTitle_neibu, new { @class = "form-control", @onblur = "add_neibu()", @style = "max-width:100%;padding:0px 5px;height:56px;" })

                        @Html.ValidationMessageFor(model => model.archiveTitle_neibu, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        页次(公开)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.pageNo, new { htmlAttributes = new { @class = "form-control", @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.pageNo, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        页次(内部)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.pageNo_neibu, new { htmlAttributes = new { @class = "form-control", @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.pageNo_neibu, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        文字材料(公开)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.wenziCnt, new { htmlAttributes = new { @class = "form-control", @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.wenziCnt, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        文字材料(内部)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.wenziCnt_neibu, new { htmlAttributes = new { @class = "form-control", @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.wenziCnt_neibu, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        图纸(公开)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.photoCnt, new { htmlAttributes = new { @class = "form-control", @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.photoCnt, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        图纸(内部)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.photoCnt_neibu, new { htmlAttributes = new { @class = "form-control", @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.photoCnt_neibu, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;text-align:center;" colspan="4">
                        共 @Html.EditorFor(model => model.gongjijuan, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;width:100px;padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.gongjijuan, "", new { @class = "text-danger" })卷,
                        第 @Html.EditorFor(model => model.dijijuan, new { htmlAttributes = new { @class = "form-control", @style = "display:inline;width:100px;padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.dijijuan, "", new { @class = "text-danger" })卷<br>
                        <label id="zongjuanshu" style="display:none;color:crimson">总卷数不能为空！</label>
                        <label id="juanshu" style="display:none;color:crimson">卷数不能为空！</label>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        编制单位
                    </td>
                    <td>
                        @Html.DropDownList("bianzhiUnit", null, new { @class = "form-control", @style = "padding:0px 5px;height:28px;" })
                        @*@Html.EditorFor(model => model.bianzhiUnit, new { htmlAttributes = new { @class = "form-control", @style = "padding:0px 5px;height:28px;", @Value = "青岛市规划局" } })*@
                        @Html.ValidationMessageFor(model => model.bianzhiUnit, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        编制日期
                    </td>
                    <td>
                        @Html.EditorFor(model => model.bianzhiTime, new { htmlAttributes = new { @class = "form-control", @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.bianzhiTime, "", new { @class = "text-danger" })
                    </td>

                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        录入人员
                    </td>
                    <td>
                        @Html.EditorFor(model => model.luruPerson, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.luruPerson, @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.luruPerson, "", new { @class = "text-danger" })
                    </td>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        接收日期
                    </td>
                    <td>
                        @Html.EditorFor(model => model.dateReceived, new { htmlAttributes = new { @class = "form-control",@Value=ViewBag.dateReceived, @style = "padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.dateReceived, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>

                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        审核人
                    </td>
                    <td>
                        @Html.DropDownList("shenhePerson", null, new { @class = "form-control", @style = "padding:0px 5px;height:28px;" })

                    </td>
                    <td style="background-color:#f9f9f9;min-width:110px;width:6%;font-weight:bold;">
                        测绘坐标
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.coordinate, new { htmlAttributes = new { @class = "form-control jubu" } })
                        @Html.ValidationMessageFor(model => model.coordinate, "", new { @class = "text-danger" })

                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;font-weight:bold;min-width:130px;width:6%;">
                        备注
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;padding:0px 5px;height:28px;" } })
                        @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                    </td>
                </tr>

            </table>
        </div>

        <div style="text-align:center;">
            <p>
                <div>
                    <input type="button" name="xiugai" id="xiugai" value="修改" class="btn btn-default" disabled="@ViewBag.baocun" />
                    <input type="button" name="back" id="back" value="返回" class="btn btn-default" />
                    @*<input type="submit" name="action" value="删除该工程" class="btn btn-default" disabled=@ViewData["button"] onclick="return del()" />*@
                    @*<input type="submit" name="action" value="添加下一工程" class="btn btn-default" disabled=@ViewData["next"] onclick="return xiayijuan()"/>*@
                    @*<input type="button" name="xiugai" id="xiugai" value="修改" class="btn btn-default" disabled=@ViewData["xiugai"] />*@
                    @*<input type="button" name="finish" id="finish" value="该卷录入完毕" class="btn btn-default"/>*@
                    <input type="button" id="ProjectContent" value="打印工程目录" class="btn btn-default" style="@ViewData["ProjectContent"]"  />
            
                            <input type="button" id="fengpiG" value="打印工程封皮(公开)" class="btn btn-default" style="@ViewData["fengpiG"]" />
                            <input type="button"  id="beikaobiaoG" value="打印备考表(公开)" class="btn btn-default" style="@ViewData["beikaobiaoG"]" />

                            <input type="button"  id="fengpiN" value="打印工程封皮(内部)" class="btn btn-default" style="@ViewData["fengpiN"]" />
                            <input type="button" id="beikaobiaoN" value="打印备考表(内部)" class="btn btn-default" style="@ViewData["beikaobiaoN"]" />


                </div>
            </p>
        </div>
    </div>
}


