@model urban_archive.Models.BaowenMainTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BaowenMainTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.leibie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leibie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shunxuhao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shunxuhao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shouwenriqi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shouwenriqi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wenjianzihao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wenjianzihao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.laiwendanwei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.laiwendanwei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wenjianbiaoti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wenjianbiaoti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chengwenriqi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chengwenriqi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fenshu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fenshu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guidangjuanbie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guidangjuanbie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nibanyijian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nibanyijian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yiyue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yiyue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zhengchuli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zhengchuli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lingdaopishi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lingdaopishi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banliqingkuang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banliqingkuang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chengbandanwei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chengbandanwei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fankuaiqingkuang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fankuaiqingkuang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banjie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banjie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banjieriqi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banjieriqi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.beizhu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beizhu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
