@model IEnumerable<urban_archive.Models.vw_gxprojectList>
@*@using PagedList.Mvc;*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>
<script type="text/javascript">
    function del() {
        var msg = "确认要归档吗?";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }                             //删除确认对话框

    var j = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-edit' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var k = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-download' style='color:#428bca;;vertical-align:middle; padding:2px 0;'></i>"
        };


    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            var a = $(window).height();
            var hh = a-160;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        })
            $("#example-table-2").tabulator({
                height:"100%",
                virtualDom:false,
                selectable: true,
                fitColumns:true,
                pagination:"local",
                paginationSize:50,

                columns: [
                {
                    title: "录入", field: "j", width:50 ,formatter: j,  align: "center",headerSort: false, cellClick: function (e,cell) {
                        var url = '/gxArchivesEnter/Enter?id=' + cell.getValue()+'&id2=0';
                        window.location.href = url;
                    }
                },
                {
                    title: "归档", field: "k", width:50 ,formatter: k,  align: "center", headerSort: false,cellClick: function (e,cell) {
                        if(del()){
                            var url = '/gxArchivesEnter/GuiDang?id=' + cell.getValue();
                            window.location.href = url;

                        }

                    }
                },
                { title: "工程名称", field: "a", headerSort: false,width: 200 },
                { title: "工程序号", field: "b",headerSort: false, width: 100 },
                { title: "工程类型", field: "p",headerSort: false, width: 150 },
                { title: "工程顺序号", field: "c", headerSort: false,width: 100 },
                { title: "整理人", field: "d",headerSort: false, width: 60 },
                { title: "整理日期", field: "e",headerSort: false, width: 100 },
                { title: "设计单位", field: "f", headerSort: false,width: 200 },
                { title: "施工单位", field: "g", headerSort: false,width: 200 },
                { title: "档号", field: "h",headerSort: false, width: 200 },
                { title: "起始排架号", field: "i",headerSort: false, minWidth: 200, },



                ],
            });

            var temp = new Array();
            var data=@(new HtmlString(@ViewBag.result));
            for (var i = 0; i < data.length;i++) {
                var b = data[i].lqDate
                var p=data[i].classifyID
                if(b!=null){
                    //var date = new Date(parseInt(b.slice(6)))

                    //result1 = date.getFullYear()+'/'+(parseInt(date.getMonth())+1)+'/'+date.getDate()
                    result1 = b.slice(0,10)
                }
                var h = data[i].startArchiveNo+"—"+data[i].endArchiveNo
                if(p=="1         ")
                {
                    p="建筑工程地下管线工程"
                }
                if(p=="2         ")
                {
                    p="市政地下管线工程"
                }
                temp.push({ "id": i + 1, "a": data[i].projectName, "p":p,"b": data[i].projectNo, "c": data[i].paperProjectSeqNo, "d": data[i].collator,"e":result1,"f":data[i].disignOrganization,"g": data[i].constructionOrganization, "h":h, "i":data[i].startPaijiaNo, "n": data[i].projectID,"j": data[i].paperProjectSeqNo, "k": data[i].projectID,});
            }

            $("#example-table-2").tabulator("setData", temp);
            $(window).resize(function () {
                var a = $(window).height();
                var hh = a-160;
                $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
                $("#example-table-2").tabulator("redraw",true);

            });

        });
</script>
<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>录入案卷信息(外部)</h2>
    <ol class="breadcrumb">
        <li class="active">管线档案</li>
        <li class="active">档案录入</li>
        <li>案卷录入</li>
    </ol>
    <div style="clear:both;"></div>
</section>



    @using (Html.BeginForm())
    {
        <p>
                检索条件: @Html.DropDownList("SelectedID", null, new { @class = "form-control", @style = "display:inline" })=@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "display:inline" })   
            <input type="submit" value="查找" class="btn btn-default" />
            @*<input type="submit" value="添加内部档案盒号"name="action" class="btn btn-default" />*@
        </p>

    }
    <div id="example-table-2" class="box-h" > </div>
    @*<table class="table table-bordered table-striped">
            <tr>

                <th>
                    工程名称
                </th>

                <th>
                    工程序号
                </th>

                <th>
                    工程顺序号
                </th>

                <th>
                    整理人
                </th>

                <th>
                    整理日期
                </th>

                <th>
                    设计单位
                </th>

                <th>
                    施工单位
                </th>

                <th>
                    档号
                </th>

                <th>
                    起始排架号
                </th>



                <th>
                    录入
                </th>
                <th>
                    归档
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td style="width:25%;">
                        @Html.DisplayFor(modelItem => item.projectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.projectNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.paperProjectSeqNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.collator)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.lqDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.disignOrganization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.constructionOrganization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startArchiveNo)-@Html.DisplayFor(modelItem => item.endArchiveNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startPaijiaNo)
                    </td>

                    <td>
                        @Html.ActionLink("录入","Enter", "ArchivesEnter", new { id = item.paperProjectSeqNo }, new { style = "color:red" })
                    </td>

                    <td>
                        @Html.ActionLink("归档","GuiDang", "ArchivesEnter", new { id = item.paperProjectSeqNo }, new { style = "color:red" })
                    </td>


                </tr>
            }
        </table>*@
@*<div style="text-align:right;font-size:16px;">
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount 页
</div>
<div style="text-align:center;margin-top:0;">
    @Html.PagedListPager(Model, page => Url.Action("ArchiveEnter",
 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>*@


